<h2>Responding to <%=@survey.job_title%>
  <span class="sponsor">sponsored by <%=link_to @survey.sponsor.name, organization_path(@survey.sponsor)%></span>
</h2>
<h3>Job Description</h3>
<%=link_and_format(@survey.description, :class => "description_box")%>
<p>Effective date: <%=@survey.effective_date.to_s(:long_ordinal)%>. <%= link_to_function "Why?", "new Effect.toggle('why_section', 'blind', {duration: .5});return false;" %></p>
<div id="why_section" style="display:none;">To comply with <%=link_to "Safe Harbor", 'http://www.usdoj.gov/atr/public/guidelines/0000.htm#CONTNUM_49' %> guidelines, responses must be based on data at least 90 days old. </div>
<%=flash_messages%>
<%= error_messages_for :participation %>
<% form_for @participation, :url => respond_survey_path(@survey), :builder => QuestionFormBuilder do |f|%>
  <ol id="questions">
    <% @survey.questions.each do |question|
      @response = *@participation.response[question.id] || question.responses.new %>
      <% f.fields_for @response, :index => question.id, :builder => QuestionFormBuilder do |q| %>
        <li class="<%= cycle("even", "odd") %>">
          <%=q.form_field%>
          <% if question.response_class.accepts_qualification? then %>
            <div class="qualifications">
              <% if @response.qualifications.blank? %>
                <div class="field" style="display: none;">
                  <label>Comment:</label>
                  <%=q.text_field :qualifications %>
                </div>
                <span class="label"><a href="#">Add Comment</a></span>
              <% else %>
                <div class="field">
                  <label>Comment:</label>
                  <%=q.text_field :qualifications %>
                </div>
                <span class="label"><a href="#">Cancel</a></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </li>
    <% end %>
    </ol>   
  <div class="response_submit"><input type="submit" value="Submit My Responses" /><span  id='cancel_section'> or <%=link_to "Cancel", survey_path(@survey), :id => 'cancel_link' %></span></div>
<% end %>
<script type="text/javascript">
function observeQualificationLinks() {
  $$('div.qualifications').each(function(elem) {
    links = elem.select('a')
    links.invoke('observe', 'click', function(e) {
      field = elem.select('div.field').first().toggle();
      e.target.innerHTML = e.target.innerHTML == 'Cancel' ? 'Add Comment' : 'Cancel';
      elem.select('input').first().value = "";
      e.stop();
    });
  });
}
function observeUnitSelection() {
  var unit_selects = $$('select.units')
  unit_selects.each(function(select) {
    select.observe('change', function(e) {
      value = e.target.value;
      class = e.target.class;
      unit_selects.each(function(select) {
        if(select.value == '' && select.class == class)
          select.value = value;
      });
    });
  });
}
</script>
<% content_for :initialize_js, "observeQualificationLinks();observeUnitSelection();"%>
