<h2>Responding to <%=@survey.job_title%>
  <span class="sponsor">sponsored by <%=link_to @survey.sponsor.name, organization_path(@survey.sponsor)%></span>
</h2>
<h3>Job Description</h3>
<%=link_and_format(@survey.description, :class => "description_box")%>
<p>Effective date: <%=@survey.effective_date.to_s(:long_ordinal)%>. <%= link_to_function "Why?", "new Effect.toggle('why_section', 'blind', {duration: .5});return false;" %></p>
<div id="why_section" style="display:none;">To comply with the safe harbor guidelines issued by the U.S. Department of
  Justice and Federal Trade Commission, survey responses must be based on data <em>at least</em> 90 days old. </div>
<%=flash_messages%>
<%= error_messages_for :participation %>
<% form_for @participation, :url => respond_survey_path(@survey), :builder => QuestionFormBuilder do |f|%>
  <ol id="questions">
    <% @survey.top_level_questions.each do |question| %>
      <%= render :partial => 'questions/participation_form_question', :object => question,
        :locals => {:f => f, :level => 0} %>
    <% end %>
    </ol>   
  <div class="response_submit submit_row"><input type="submit" value="Submit My Responses" /><span  id='cancel_section'> or <%=link_to "Cancel", survey_path(@survey), :id => 'cancel_link' %></span></div>
<% end %>
<% content_for :initialize_js, "observeResponseForQualifications();" %>
<script type="text/javascript">
function observeResponseForQualifications(){
  $('questions').select('div.question_container').each(function(question_div){
    question_div.select('input:not([id$=qualifications])').each(function(input){
      if(!input.hasClassName('TextualResponse')) {
        if(input.getAttribute('type').match(/checkbox|radio/)){
          input.observe('click', function(e){
              question_div.select('div.qualifications').first().show();
          });
        }
        else {
          var qualifications_div = question_div.select('div.qualifications').first();
          if (input.value === ''){
            clearAndHideQualifications(qualifications_div);
          }
          else {
            qualifications_div.show();
          }
          input.observe('question:validinput', function(e){
            if (input.value === ''){
              clearAndHideQualifications(qualifications_div);
            }
            else {
              qualifications_div.show();
            }
          });
        }
      }
    });
    
    if(question_div.select('input').first().getAttribute('type').match(/checkbox|radio/)){
      if(question_div.select('input:not([id$=qualifications])').any(function(q){return q.checked;})) {
        question_div.select('div.qualifications').first().show();
      }
      else {
        clearAndHideQualifications(question_div.select('div.qualifications').first());
      }
    }
  });
}

function clearAndHideQualifications(qualifications_div){
  qualifications_div.select('input').first().value = '';
  qualifications_div.select('div.field').first().hide();
  qualifications_div.select('a').first().innerHTML = 'Add Comment';
  qualifications_div.hide();
}

</script>
