<% title "Responding to Survey #{@survey.job_title}" %>
<% if logged_in? then breadcrumbs(link_to("Surveys", surveys_path()), link_to(@survey.job_title, survey_path(@survey))) end
  #Don't show breadcrumbs when logged in as survey invitation (there is no concept of dashboard) %>
<% if logged_in? then highlight_tab "surveys" else highlight_tab "survey" end %>
<h2>Responding to Survey <%=@survey.job_title%></h2>
<p>You are responding to a survey commissioned by <%=link_to(@survey.sponsor.name,organization_path(@survey.sponsor.id))%>.  Report data
as of <%=(Time.now - 90.days).strftime("%B %d, %Y")%>.</p>
<%=flash_messages%>
<% form_for :response, :url => respond_survey_path(@survey), :html => {:method => :post, :multipart => true} do |f|%>
<div id="questions">
	<%
	  @survey.questions.each do |question|%>
	    <%=print_question(question)%><br />
	<%
	  end
	%>
</div>
<p><input type="submit" value="Submit Responses" /> or <%=link_to "Cancel", survey_path(@survey) %></p>
<% end %>
