<% title "Responding to #{@survey.job_title}" %>
<% logged_in? ? highlight_tab("surveys") : highlight_tab("survey") %>
<h2>Responding to <%=@survey.job_title%>
	<span class="sponsor">sponsored by <%=link_to @survey.sponsor.name, organization_path(@survey.sponsor)%></span>
</h2>
<p>Report data as of <%=90.days.ago.to_date.to_s(:long_ordinal)%>.</p>
<%=flash_messages%>
<div id="questions">
	<% form_for @participation, :url => respond_survey_path(@survey), :builder => QuestionFormBuilder do |f|%>
		<% @survey.questions.each do |question|
			@response = *@participation.response[question.id] || question.responses.new
			p @response.inspect %>
			<% f.fields_for @response, :index => question.id, :builder => QuestionFormBuilder do |q| %>
				<%=q.form_field%>
				<% if question.numerical_response? then %>
					Qualifications: <%=q.text_field(:qualifications)%>
				<% end %>
			<% end %>
		<% end %>
		<p><input type="submit" value="Submit Responses" /> or <%=link_to "Cancel", survey_path(@survey) %></p>
	<% end %>
</div>


