<% title "Preview for #{@survey.job_title}" %>
<% highlight_tab("surveys") if logged_in? %>
<h2>Survey Preview</h2>
<p>This is how your survey will look.  If you are not satisfied, you can make changes before the survey is published.
  You may make changes to a survey at any time after the survey is published as well.</p>
<p>
<%= if @survey.aasm_state == 'pending' then
   link_to "Continue", billing_survey_path(@survey) 
   else
    link_to "Finish", survey_path(@survey)
end %>
or 
<%= link_to "Make changes", edit_survey_path(@survey) %>
</p>  
<div id="survey_preview_box">
  <%= render :partial => "questions/participation_form"%>
</div>
<p>
<%= if @survey.aasm_state == 'pending' then
   link_to "Continue", billing_survey_path(@survey) 
   else
    link_to "Finish", survey_path(@survey)
end %>
or 
<%= link_to "Make changes", edit_survey_path(@survey) %>
</p>
<script>
function disableForm(){
  $('cancel_section').style.display = 'none';
  var f = document.getElementsByTagName('input');
  for(var i=0;i<f.length;i++){
      f[i].setAttribute('disabled',true);
  }
}
</script>
<% content_for :initialize_js, "disableForm();"%>
