<% title "Preview for #{@survey.job_title}" %>
<% highlight_tab("surveys") if logged_in? %>
<div class="breadcrumbs">
  <%= image_tag 'step_1_inactive.gif' %>
  <%= image_tag 'step_2_active.gif' %>
  <%= image_tag 'step_3_inactive.gif' %>
  <%= image_tag 'step_4_inactive.gif' %>
</div>
<div id="step_container">
  <p>
    This is how your survey will look.  If you are not satisfied, you can make changes before the survey is published.
    You may make changes to a survey at any time after the survey is published as well.</p>
  <p>
  <div id="survey_preview_box">
    <%= render :partial => "questions/participation_form"%>
  </div>
  <div class="submit_row">
    <%= button_to "Create Invitation List", survey_invitations_path(@survey), :class => "next", :method => :get%>
    <%= button_to "Change Questions", new_survey_path, :class => "previous", :method => :get %>
  </div>
</div>
<script>
function disableForm(){
  $('cancel_section').style.display = 'none';
  $$('#survey_preview_box input, #survey_preview_box select').each(function(input) {
    input.setAttribute('disabled', true);
  });
}
</script>
<% content_for :initialize_js, "disableForm();"%>
