<% title "Preview for #{@survey.job_title}" %>
<% highlight_tab("surveys") if logged_in? %>
<% if @survey.pending? %>
  <div class="breadcrumbs">
    <%= image_tag 'step_1_inactive.gif' %>
    <%= image_tag 'step_2_inactive.gif' %>
    <%= image_tag 'step_3_active.gif' %>
    <%= image_tag 'step_4_inactive.gif' %>
  </div>
<% end %>
<div id="step_container">
  <p class="preview_text">
    This is how your survey will look.  If you are not satisfied, you can make changes before the survey is published.
    You may make changes to a survey at any time after the survey is published as well.</p>
  <p>
  <div id="survey_preview_box">
    <%= render :partial => "questions/participation_form"%>
  </div>
  <div class="submit_row">
    <% if @survey.pending? then %>
      <%= button_to "Next &ndash; Enter Billing Information", billing_survey_path(@survey), :class => "next", :method => :get%>
      <%= button_to "Back &ndash; Edit Invitation List", survey_invitations_path(@survey), :class => "previous", :method => :get %>
    <% else %>
      <%= button_to "Finish", survey_path(@survey), :class => "next", :method => :get %>   
      <%= button_to "Back &ndash; Edit Survey Design", edit_survey_path(@survey), :class => "previous", :method => :get %> 
    <% end %> 
  </div>
</div>
<script>
function disableForm(){
  $('cancel_section').style.display = 'none';
  $$('#survey_preview_box input, #survey_preview_box select').each(function(input) {
    input.setAttribute('disabled', true);
  });
}
</script>
<% content_for :initialize_js, "disableForm();"%>
