<% title "Pending Accounts" %>
<%=link_to "Return to Dashboard", admin_dashboard_path %>
<%=link_to "Verification Script", 'http://redmine.dev.huminsight.com:81/projects/1/wiki/UserVerificationScript' %>

<table>
	<th>Organization Name</th>
	<th>Email</th>
	<th>Contact Name</th>
	<th>Phone #(Ext)</th>
	<th>Date Applied</th>
	<th>Actions</th>
<% @pending_accounts.each do |account| %>
<tr>
	<td><%=account.name%></td>
	<td><%=account.email%></td>
	<td><%=account.contact_name%></td>
	<td><%=account.phone%><%if account.phone_extension%>(<%=account.phone_extension%>)<%end%></td>
	<td><%=account.created_at%></td>
  <td><%=link_to "Approve", approve_admin_pending_account_path(account)%> / <%=link_to "Deny", deny_admin_pending_account_path(account), :confirm => "Are you sure? This will remove any surveys, discussions, networks, and participations created by this user."%></td>
</tr>
<% end %>
</table>
