<% title "Signup" %>
<% highlight_tab "join" %>
<h2>Signup</h2>
<p>
In order to ensure the intregrity of our product, we must verify the identity of all applicants.
After signing up, you will be contacted within three business days. When your identity is verfied,
you will be provided with a key that may be used to create an account
</p>
<%=error_messages_for :pending_account, :header_message => ErrorMessages::Views::DEFAULT_MESSAGE_HEADER, :message => ErrorMessages::Views::DEFAULT_MESSAGE_SECONDARY%>
<%=flash_messages%>
<% form_for @pending_account, :url => signup_path do |f| %>
  <%=f.label :organization_name, 'Name of Your Organization' %>    
  <%=f.text_field :organization_name %>
  <%=f.label :contact_first_name, 'Your First Name' %>    
  <%=f.text_field :contact_first_name %>
  <%=f.label :contact_last_name, 'Your Last Name' %> 
  <%=f.text_field :contact_last_name %>
  <%=f.label :email %> 
  <%=f.text_field :email %>
  <%=f.label :phone %> 
  <%=f.text_field :phone %>
  <%=f.label :phone_extension %> 
  <%=f.text_field :phone_extension %>
  <p>
    <input type="submit" value="Signup" /> 
    <%=link_to "Cancel", '/' %>
  </p>
<% end %>
