<%
  highlight_tab 'members'
  title 'Association Members'
%>
<h2>Association Members</h2>
<p><%= link_to "Add Association Member", new_association_member_path %> or
<%= link_to "Upload Your Member List", upload_association_members_path %>.</p>
<%= will_paginate @members %>
<table>
  <thead>
    <tr>
      <th>Firm Name</th>
      <th>Contact Name</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><a href="mailto:<%= member.email %>"><%= member.name %></a></td>
        <td>
          <%= link_to "Update", association_member_path(member) %>
          <%= link_to "Delete", association_member_path(member), :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @members %>
