<%
  title "Upload Members"
  highlight_tab "members"
%>
<h2>Upload Members</h2>
<div style="display:none;">Need this div for flash notices in IE6</div>
<%=flash_messages%>
<% form_tag '', :multipart => true do %>

  <p class="info">Your CSV file must have the following columns in exactly the following order:
    <span id="csv_fields">
      <span class="field">Firm Name</span>, 
      <span class="field">Contact Name</span>, 
      <span class="field">Contact Email</span>, 
      <span class="field">Zip Code</span>, 
      <span class="field"># of Employees</span>, 
      <span class="field">SIC Code / NAICS Code</span>.
    </span>
    Zip code, number of employees, and NAICS code fields may be left blank if necessary, although this is
    not recommended.
  </p>

  <label for="csv_file">Upload Member List in CSV format</label>
  <%= file_field_tag :csv_file %>
  
  <h3>Import File Headers</h3>
  <label><%= radio_button_tag 'flags[headers]', true, true %> First row is a header</label>
  <label><%= radio_button_tag 'flags[headers]', false %> No headers present</label>

  <h3>Remove Any Members Not Present In This Import</h3>
  <label><%= radio_button_tag 'flags[destroy]', true %> Yes, remove firms not present in this import</label>
  <label><%= radio_button_tag 'flags[destroy]', false, true %> No, keep firms not present in this import</label>

  <h3>Add New Members</h3>
  <label><%= radio_button_tag 'flags[create]', true, true %> Yes, add new members found in this import</label>
  <label><%= radio_button_tag 'flags[create]', false %> No, ignore any new members</label>

  <h3>Industry Classification Used</h3>
  <label><%= radio_button_tag 'flags[classification]', 'naics2007', true %> 2007 NAICS</label>
  <label><%= radio_button_tag 'flags[classification]', 'naics2002' %> 2002 NAICS</label>
  <label><%= radio_button_tag 'flags[classification]', 'sic' %> 1987 SIC</label>
  <div class="submit">
    <%= submit_tag "Upload Members" %>
  </div>
<% end %>
