<%=error_messages_for :discussion, :header_message => "Please try again!", :message => "Resolve the following problems:"%>
<% form_for [@survey, discussion] do |f| %>
    <%=f.label :subject %>
    <%=f.text_field :subject %>
    <%=f.label :body %>
    <%=f.text_area :body, :rows => 4, :cols => 30 %>
    <%=f.hidden_field :parent_discussion_id %>
    <p>
      <input type="submit"  value="<%=discussion.new_record? ? 'Post' : 'Update' %>" /> or <a id='new_discussion_link_cancel'>Cancel</a>
    </p>
<% end %>
