<%= error_messages_for :discussion %>
<% form_for [@survey, discussion] do |f| %>
    <%=f.label :subject, nil, :class => 'discussion_label' %>
    <%=f.text_field :subject %>
    <%=f.label :body, nil, :class => 'discussion_label' %>
    <%=f.text_area :body %>
    <%=f.hidden_field :parent_discussion_id %>
    <div class="discussion_submit">
      <input type="submit"  value="<%=discussion.new_record? ? 'Post Discussion' : 'Update Discussion' %>" /> or <a href="#" id='new_discussion_link_cancel'>Cancel</a>
    </div>
<% end %>
