<div class="discussion_subject">
  <%= discussion.subject %>
</div>
<div class="discussion_body">
  <%= discussion.body %>
</div>
<div class="discussion_actions">
  <%=link_to "Reply", new_survey_discussion_path(discussion.survey, :parent_discussion_id => discussion.id) %>
  <% if current_organization_or_survey_invitation.eql?(discussion.responder) then %>
    <%=link_to "Edit", edit_survey_discussion_path(discussion.survey,discussion) %>
    <%=link_to "Delete", survey_discussion_path(discussion.survey,discussion), :method => :delete %>
  <% end %>
  <%=link_to "Report Abuse", report_survey_discussion_path(discussion.survey,discussion) %>  
</div>