<div class="discussion_subject">
  <%= @discussion.subject %>
</div>
<div class="discussion_body">
  <%= @discussion.body %>
</div>
<div class="discussion_actions">
  <%=link_to "Reply", :controller => 'discussions', :action => 'new', :survey_id => @survey.id, :parent_discusion_id => @discussion.id %>
  <% if current_organization_or_survey_invitation.eql?(@discussion.responder) then %>
    <%=link_to "Edit", edit_survey_discussion_path(@survey,@discussion) %>
    <%=link_to "Delete", survey_discussion_path(@survey,@discussion), :method => :delete %>
  <% end %>
  <%=link_to "Report Abuse", report_survey_discussion_path(@survey,@discussion) %>  
</div>
