<li>
	<p class="subject">
	  <span id="discussion_subject_<%=discussion_topic.id%>"><%= discussion_topic.subject %></span>
	</p>
	<p class="body">
  	<% if discussion_topic.responder.eql?(@survey.sponsor) && !discussion_topic.body.blank? then %>
	    <span class="sponsor">Sponsor: </span>
	  <% end %>
	  <span id="discussion_body_<%=discussion_topic.id%>"><%= link_and_format(discussion_topic.body) %></span>
  	<% if !current_organization_or_survey_invitation.eql?(discussion_topic.responder) then %>
			<%=link_to "Report Abuse", 
			   report_survey_discussion_path(@survey, discussion_topic), 
			   :class => "abuse",
			   :confirm => "Are you sure you want to report this discussion?" %>  
	  <% end %>
  </p>	
  <div class="date"><%= I18n.localize discussion_topic.created_at %></div>  
  <ul id="discussion_<%=discussion_topic.id%>_replies">
      <%= render :partial => "discussions/discussion", 
                 :collection => discussion_topic.all_children.find_all{|discussion| discussion.is_not_abuse}.sort %>
      <li>
        <a id="discussion_reply_<%=discussion_topic.id%>" href="#">Reply</a>
        <div id="discussion_reply_box_<%=discussion_topic.id%>" style='display: none;'>
          <% form_tag survey_discussions_url(@survey), :method => :post do %>
            <%=text_area_tag(
              'discussion[body]',
              '', 
              :id => "discussion_reply_#{discussion_topic.id}_body", 
              :rows => 4, 
              :cols => 30)
            %>
            <%=hidden_field_tag(
              'discussion[parent_discussion_id]',
              discussion_topic.id, 
              :id => "discussion_reply_#{discussion_topic.id}_parent_id")
             %>
            <p>
              <%= submit_tag 'Post' %> or <a id="discussion_reply_<%=discussion_topic.id%>_cancel" href="#">Cancel</a>
            </p>
          <% end %>
        </div>
      </li>
  </ul>
</li>
