<%
title("Editing #{@discussion.subject}")
breadcrumbs(link_to("Surveys", surveys_path), link_to(@survey.job_title, survey_path(@survey)))
%>
<h2>Editing <%=@discussion.subject%></h2>
<%=flash_messages%>
<%=error_messages_for :discussion%>
<% form_for :discussion, @discussion, :url => survey_discussion_path(@survey,@discussion), :html => {:method => :put} do |f|%>
  <% if @discussion.root? then %>
    <p><label>Discussion Subject:</label><br />
      <%=f.text_field :subject %></p>
  <% end %>
  <p><label>Body:</label> <br />
    <%=f.text_area :body, :rows => 4, :cols => 30 %></p>
  <p><input type="submit" value="Edit" /> <%=link_to "Cancel", survey_path(@survey) %></p>
<% end %>