<%
title("New Discussion for #{@survey.job_title}")
breadcrumbs(link_to("Surveys", surveys_path), link_to(@survey.job_title, survey_path(@survey)))
%>
<% if logged_in? then highlight_tab "surveys" else highlight_tab "survey" end  %>
<h2>
  <% if @parent_discussion.nil? then %>
    New Discussion Topic
  <% else %>
    Replying to <%=@parent_discussion.subject%>
  <% end %>
</h2>
<%=flash_messages%>
<%=error_messages_for :discussion%>
<% form_for :discussion, @discussion, :url => survey_discussions_path(@survey) do |f| %>
  <p><label>Discussion Subject:</label><br />
    <%=f.text_field :subject %>
  </p>
  <% if !@parent_discussion.nil? then %>
      <%= f.hidden_field :parent_discussion_id %>
  <% end %>
  <%= f.hidden_field :survey_id %>
  <p><label>Message:</label> <br />
    <%=f.text_area :body, :rows => 4, :cols => 30 %></p>
  <p><input type="submit" value="Post" /> or <%=link_to "Cancel", survey_path(@survey) %></p>
<% end %>
<p class="discussion_warning""">You must preserve your anonymity and the anonymity of the other participants. The posting of
	compensation information is unlawful.</p>
