<%=error_messages_for :network%>
<% form_for @network do |f| %>
  <%= f.label :name, required("Network Name") %>
  <%= f.text_field :name, :size => 30 %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <% if !@network.new_record? && @network.organizations.count > 1 then %>
    <p><a href="#" id="change_network_manager_link">Change network manager</a></p>
    <div id="change_network_manager" style="display: none;">
      <%=f.label "Change Network Manager" %>
      <% @network.organizations.each do |organization| %>
        <%=f.label "owner_id_#{organization.id}", f.radio_button("owner_id", organization.id) + organization.name, :class => "option"%>
      <% end %>
    </div>
  <% end %>
  <div class="submit"><input type="submit" value="<%=@network.new_record? ? 'Create' : 'Update' %>" /> or <%=link_to "Cancel", @network.new_record? ? networks_path : network_path(@network) %></div>
<% end %>

<% if !@network.new_record? && @network.organizations.count > 1 then %>
  <% content_for :initialize_js, "observeChangeNetwork();"%>
  <script type="text/javascript">
  function observeChangeNetwork() {
    $('change_network_manager_link').observe('click', function(e) {
      e.preventDefault();
      $('change_network_manager').show();
      $('change_network_manager_link').hide();
    })
  }
  </script>
<% end %>
