<% title "Your Contact Networks" %>
<% highlight_tab "networks" %>
<h2>Find an Organization</h2>
<% form_tag search_organizations_path do %> 
  <label for="search_text">Find CompSage Members</label>
  <%= text_field_tag 'search_text', '', :size => 30 %>
  <input type="submit" value="Search" />
  <p>or <%=link_to "Browse CompSage members in your area", search_organizations_path %></p>
<% end %>

<% if @network_invitations.any? then %>
  <h2>Network Invitations</h2>
  <ul id="network_invitations">
    <% @network_invitations.each do |invitation| %>
      <li>
        <h3><%= invitation.network.name %>
          <span class="manager">managed by <%= link_to_organization(invitation.network.owner) %></span>
        </h3>
        <div class="description_box"><%=h link_and_format(invitation.network.description) %></div>
        <div class="actions">
          <%= link_to "Join Network", join_network_path(invitation.network), :method => :put %>
          <%= link_to "Decline", decline_network_invitation_path(invitation.network.id,invitation.id), :method => :put %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
<h2>Your Contact Networks</h2>
<% if @networks.empty? then %>
  <p>Contact Networks make it easy for you to send surveys to and receive surveys from a group of peers. When you join a
  contact network, surveying that group of organizations is just a few clicks away. You can easily
  <%= link_to "make your own contact network", new_network_path %> and invite your own group of organizations.
<% else %>
  <div id="new_network">
    <%= link_to "New Network", new_network_path %>
  </div>
  <ul id="networks">
    <% @networks.each do |network| %>
      <li class="<%=cycle("even", "odd")%>">
        <h3><%= link_to_network(network) %></h3>
        <div class="description_box"><%=link_and_format(network.description)%></div>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @networks %>  
<% end %>

<% %>
