<% title "Your Contact Networks" %>
<% highlight_tab "networks" %>
<h2>Find an Organization</h2>
<p>Organization search will go here, with a link to browse as well.</p>
<h2>Your Contact Networks</h2>
<% if @networks.empty? then %>
  <p>Contact Networks make it easy for you to send surveys to and receive surveys from a group of peers. When you join a
  contact network, surveying that group of organizations is just a few clicks away. You can easily
  <%= link_to "make your own contact network", new_network_path %> and invite your own group of organizations.
<% else %>
  <ul id="networks" class="entity_list">
    <% @networks.each do |network| %>
      <li class="<%=cycle("even", "odd")%>">
        <h3><%=link_to network.name, network_path(network)%> <span class="manager">managed by <%=link_to_organization(network.owner)%></span></h3>
        <div class="description"><%=network.description%></div>
        <div class="actions">
          <%=link_to "Survey #{pluralize(network.organizations.count, "member")}", new_survey_path(:network_id => network.id) %>
          <% if network.owner_id == current_organization.id then %>
            <%=link_to "Manage Network", network_path(network) %>
          <% end %>
          <%=link_to "Leave Network", leave_network_path(network), :method => :put %>
        </div>
      </li>
    <% end %>
  </ul>
  <%= will_paginate @networks %>  
<% end %>

<% %>
