<% title "New Network" %>
<% highlight_tab "networks" %>
<h2>Create a Network</h2>
<%=error_messages_for :network%>
<% form_for @network do |f| %>
  <%= f.label :name, "Network Name" %>
  <%= f.text_field :name, :size => 30 %>
  <%= f.label :description %>
  <%= f.text_area :description, :rows => 4, :cols => 30 %>
  <div class="submit"><input type="submit" value="Create" /> or <%=link_to "Cancel", networks_path %></div>
<% end %>
