<h2>Create a New Network</h2>
<%=@network.inspect%>
<%=error_messages_for :network%>
<% form_for :network, @network, :url => networks_path do |f| %>
  <p><label>Network Name:</label><br />
    <%=f.text_field :name %></p>
  <p><label>Description:</label> <br />
    <%=f.text_area :description, :rows => 4, :cols => 30 %></p>
  <p><input type="submit" value="Create" /> <%=link_to "Cancel", networks_path %></p>
<% end %>