<% title @network.name %>
<% highlight_tab "networks" %>
<div id="network_actions">
  <h3>Network Activities</h3>
  <ul id="network_menu">
    <li><%= link_to "Survey Network", new_survey_path(:network_id => @network.id) %></li>
    <% if @network.owner == current_organization then %>
      <li><%= link_to "Invite Others", network_invitations_path(@network) %></li>
      <li><%= link_to "Edit Network", edit_network_path(@network) %></li>
    <% end %>
    <li><%= link_to "Leave Network", leave_network_path(@network) %></li>
  </ul>
</div>
<h2><%=@network.name%> <span class="manager">managed by <%=link_to_organization @network.owner%></span></h2>
<% unless @network.description.blank? %>
  <div class="main_description">
    <%= link_and_format(@network.description) %>
  </div>
<% end %>
<%=flash_messages%>
<% if @members.none? && @network.owner_id == current_organization.id then %>
  <p>Your network doesn't have any members! <%= link_to "Send some invitations", network_invitations_path(@network) %>.</p>   
<% else %>
  <h3 id="network_members_header">Network Members</h3>
  <ul id="network_members">
    <% @members.each do |organization| %>
      <li>
        <%= link_to_organization(organization) %>
        <% if @network.owner_id == current_organization.id && current_organization != organization then %>
          <%=link_to "Remove", evict_network_path(@network, :organization_id => organization.id), :method => :put, :class => 'remove' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
