<% title @network.name %>
<% highlight_tab "networks" %>
<h2><%=@network.name%> <span class="manager">managed by <%=link_to_organization @network.owner%></span></h2>
<div class="main_description">
  <%= auto_link(@network.description, :html => { :target => '_blank' }) %>
  <div class="actions">
    <% if @network.owner_id == current_organization.id then %>
      <%=link_to "Edit Network", edit_network_path(@network) %>
    <% end %>
    <%=link_to "Leave Network", leave_network_path(@network), :method => :put %>
  </div>
</div>
<%=flash_messages%>
<h3>Members in this Network</h3>
<% if @members.none? && @network.owner_id == current_organization.id then %>
  <p>Your network doesn't have any members! <%= link_to "Send some invitations", network_invitations_path(@network) %>.</p>   
<% else %>
  <div class="actions">
    <%=link_to "Survey these organizations", new_survey_path(:network_id => @network.id) %>
    <% if @network.owner_id == current_organization.id then %>
      or <%= link_to "Invite others", network_invitations_path(@network) %>
    <% end %>
  </div> 
  <ul id="network_members">
    <% @members.each do |organization| %>
      <li>
        <%= link_to_organization(organization) %>
        <% if @network.owner_id == current_organization.id && current_organization != organization then %>
          <%=link_to "Remove", evict_network_path(@network, :organization_id => organization.id), :method => :put, :class => 'remove' %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
