<% title @network.name %>
<% breadcrumbs(link_to("Your Networks", networks_path)) %>
<% highlight_tab "networks" %>
<h2><%=@network.name%></h2>
<div>Network Owner: <%=link_to @network.owner.name, organization_path(@network.owner)%></div>
<div class="actions">
  <%=link_to "Survey Network", new_survey_path %>
  <% if @network.owner_id == current_organization.id then %>
    <%=link_to "Invite Others", network_invitations_path(@network) %>
    <%=link_to "Edit Network", edit_network_path(@network) %>
  <% end %>
  <%=link_to "Leave Network", leave_network_path(@network), :method => :put %>
</div>
<% unless @network.description.blank? %>
  <h3>Description</h3>
  <div><%=@network.description%></div>
<% end %>
<h3>Members</h3>
<ul id="organizations">
  <% @network.organizations.each do |organization| %>
    <li><%=link_to organization.name, organization_path(organization)%></li>
  <% end %>
</ul>
