<% title @network.name %>
<% highlight_tab "networks" %>
<h2><%=@network.name%> <span class="manager">managed by <%=link_to_organization @network.owner%></span></h2>
<%=flash_messages%>
<div class="actions">
  <%=link_to "Survey #{pluralize(@network.organizations.count, "member")}", new_survey_path(:network_id => @network.id) %>
  <% if @network.owner_id == current_organization.id then %>
    <%=link_to "Invite Others", network_invitations_path(@network) %>
    <%=link_to "Edit Network", edit_network_path(@network) %>
  <% end %>
  <%=link_to "Leave Network", leave_network_path(@network), :method => :put %>
</div>
<% unless @network.description.blank? %>
  <h3>Description</h3>
  <div><%=auto_link(@network.description, :target => '_blank')%></div>
<% end %>
<h3>Members</h3>
<ul id="network_members">
  <% @network.organizations.each do |organization| %>
    <li>
    <%= link_to_organization(organization) %>
    <% if @network.owner_id == current_organization.id && current_organization != organization then %>
        <%=link_to "Remove", evict_network_path(@network, :organization_id => organization.id), :method => :put %>
      <% end %>
    </li>
  <% end %>
</ul>
