<html>
<body>
<table border="0" align="center" width="600">
  <tbody>
    <tr>
      <td align="center" style="padding: 5px 0px;color: #999;font-size:0.9em;font-style:italic;">This email is intended for Human Resources. Please forward if necessary.</td>
    </tr>
    <tr>
      <td style="border: 1px solid #ccc;padding:15px 30px;">
        <p>
          <% if @survey.association %>
            <%= @invitation.inviter.contact_name %> with <%=@invitation.inviter.name%> invited your organization to
            participate in a CompSage compensation survey provided by <%= @survey.association.name %>.
          <% else %>
            <%= @invitation.inviter.contact_name %> with <%=@invitation.inviter.name%> invited your organization to
            participate in a CompSage compensation survey.
          <% end %>

          <%= link_to 'Participate in this survey now',
                      survey_login_path(:key => @invitation.key,
                                        :only_path => false,
                                        :subdomain => subdomain_for(:email => @invitation.email)) %>
          on our secure website and receive the survey report completely free. There is no signup required, and your
          data will only be reported in aggregate with other survey participants and in compliance with Safe Harbor
          guidelines.</p>
        </p>
        <table>
          <tbody>
            <tr>
              <td align="right" style="white-space:nowrap;"><b>Survey Job Title: </b></td>
              <td><%=@survey.job_title%></td>
            </tr>
            <tr>
              <td align="right" valign="top" style="white-space:nowrap;"><b>Description: </b></td>
              <td><%= simple_format(@survey.description, :style => "margin: 0 0 1em 0;") %></td>
            </tr>
            <tr>
              <td align="right" style="white-space:nowrap;"><b>Sponsor: </b></td>
              <td><%=@survey.sponsor.name%></td>
            </tr>
            <tr>
              <td align="right" style="white-space:nowrap;"><b>Response deadline: </b></td>
              <td><%=better_time_ago_in_words(@survey.end_date)%></td>
            </tr>
            <% unless @survey.custom_invitation_message.blank? %>
              <tr>
                <td align="right" valign="top" style="white-space:nowrap;"><b>Sponsor's Message:</b></td>
                <td><%= simple_format(@survey.custom_invitation_message, :style => "margin: 0 0 1em 0;") %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p><%=link_to 'Participate in this survey now', survey_login_path(:key => @invitation.key, :only_path => false, :subdomain => subdomain_for(:email => @invitation.email))%>.</p>
        <p>CompSage is a tool to create online customized compensation surveys. With CompSage, you can:
          <ul>  
            <li>Design surveys using our standard questions or add questions of your own design.</li>
            <li>Participate in a survey and get results for free.</li>
            <li>Sponsor a survey for free and get great data that won't put you over-budget.</li>
            <li>Survey turnaround in as few as 3 days.</li>
            <li>Get guaranteed results, or you pay nothing.</li>
            <li>Access compensation data in use right now by the companies of your choosing.</li>
          </ul>  
        </p>
        <p align="center">
          <a href="<%=root_path()%>"><%= image_tag("compsage_logo_email.gif", :size=> "200x47", :alt=>"CompSage", :style => "border: none") %></a>
        </p>
      </td>
    </tr>
    <tr>      
      <td align="Center">
        <a href="http://www.mfrall.com"><%= image_tag("MAG-LOGO-for-Print.png", :size=> "297x57", :alt=>"Manufacturers Alliance", :style => "border: none") %></a>
      </td>
    </tr>
    <tr>
      <td align="Center" style="padding: 0px 0px; color: #999;font-size: 0.9em">CompSage is a service offered by Manufacturers Alliance. If you would like to verify this request, email the survey sponsor at
        <a href="mailto:<%= @survey.sponsor.email %>" style="color:#66c;"><%= @survey.sponsor.email %></a> 
      </td>
    </tr>
    <tr>
      <td align="Center" style="padding: 20px 0px; color: #999;font-size: 0.9em">
        HumInsight, Inc.<br />
        929 Portland Ave #1208<br />
        Minneapolis, MN 55404
      </td>
    </tr>
  </tbody>
  </tbody>
</table>
</body>
</html>
