<html>
<body>
<p>
  Your organization been invited by <%=@invitation.inviter.name%> to participate in a CompSage compensation survey. By taking a few minutes to respond to this survey, you will be allowed to view the results for free when available.  There is no signup required. <%=link_to 'Take the survey now', survey_login_path(:survey_id => @survey.id, :key => @invitation.key, :only_path => false)%>!
</p>
<p>
  The details of the survey are as follows:
  <br />
  <b>Job Title: </b><%=@survey.job_title%>
  <br />
  <b>Description: </b><%=auto_link(@survey.description)%>
  <br />
  <b>Sponsor: </b><%=@survey.sponsor.name%>
  <br />
  <b>Response deadline: </b><%=time_ago_in_words(@survey.end_date)%>
</p>
<p>
  Thanks,
  <br />
  CompSage.com
</p>
</body>
</html>
