<%
  highlight_tab "settings"
  title "Settings &amp; Branding"
%>
<h2>Settings &amp; Branding</h2>
<h3>Standard Questions</h3>
<p class="instructions">
These questions will be available to members when they create a survey through your association members' page.
</p>
<%=link_to "Create a new  standard question.", new_association_pdq_path%>
<br />
<br />
<% if @predefined_questions.any? %>
<table id="association_predefined_questions">
  <thead>
    <th>Name</th>
    <th>Question Text</th>
    <th>Response Type</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <% @predefined_questions.each do |predefined_question|
      question = predefined_question.question %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%=link_to predefined_question.name, edit_association_pdq_path(predefined_question)%></td>
        <td><%=question.text%></td>
        <td><%=question.question_type%></td>
        <td><%=link_to "Delete",
                        association_pdq_path(predefined_question),
                        :method => :delete,
                        :confirm => "Are you sure? This cannot be undone."%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>You have not created any standard questions.</p>
<% end %>
<h3>Custom Greeting</h3>
<p>Set a custom message for the assoc landing page.</p>
<h3>Branding</h3>
<p>Logo Upload</p>

