<% highlight_tab "surveys" %>
<% title         "Surveys" %>
<h2>Surveys</h2>

<%= will_paginate @surveys %>
<table id="association_surveys">
  <thead>
    <tr>
      <th>Finish Date</th>
      <th>Sponsor</th>
      <th>Job Title</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% @surveys.each do |survey| %>
      <tr class="<%= cycle("even", "odd") %>">
        <td><%= survey.end_date.to_date.to_s(:long) %></td>
        <td><%= survey.sponsor.name %></td>
        <td><%= survey.job_title %></td>
        <td class="status">
          <% form_for [:association, survey] do |f| %>
            <%= f.select :association_billing_status, Survey::ASSOCIATION_BILLING_STATUSES %>
            <div class="load_indicator_sm_container">
              <%= image_tag 'load_indicator_sm.gif', :id => "loader_#{survey.id}", :style => 'display: none;' %>
            </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @surveys %>
<script type="text/javascript">
  function initializeObservers() {
    $$('td.status select').each(function(s) {
        s.observe('change', function() {
          var form = s.up('form');
          // derive the survey id from the form action
          var id = form.action.match(/\d+$/);
          new Ajax.Request(form.action, {
            asynchronous:true,
            evalScripts:true,
            parameters:Form.serialize(form),
            onCreate: function() { s.disable();$('loader_' + id).show();},
            onComplete: function() { s.enable();$('loader_' + id).hide();}
          });
        })
    });
  }
</script>
<% content_for :initialize_js, "initializeObservers();"%>
