<% title "Association Member - Sign In" %>
<div style="display:none;">Need this div for flash notices in IE6</div>
<%=flash_messages%>
<%=error_messages_for :association_member%>
<% form_tag sign_in_association_member_path(@form_options) do %>
  <label for="email">Email</label>
  <%= text_field_tag 'email', @login, :size => 25 %>
  <label for="password">Password</label>
  <%= password_field_tag 'password', '', :size => 10 %>  
  <label for="password_confirmation">Password Confirmation</label>
  <%= password_field_tag 'password_confirmation', '', :size => 10 %>
  <label for="remember_me">Remember me <%= check_box_tag 'remember_me' %></label>  
  <div class="submit">
    <%= submit_tag 'Log in' %> &nbsp;&nbsp;<%=link_to "Forgot your password?", forgot_account_path%>
  </div>
<% end %>
