<% title "Billing Information for #{@survey.job_title}" %>
<% highlight_tab("surveys") %>
<div class="breadcrumbs">
  <%= image_tag 'step_1_inactive.gif' %>
  <%= image_tag 'step_2_inactive.gif' %>
  <%= image_tag 'step_3_inactive.gif' %>
  <%= image_tag 'step_4_active.gif' %>
</div>
<div id="step_container">
  <h3>Billing Information</h3>
  <p class="preview_text">
  Some text
  </p>
  <%=error_messages_for :invoice%>
  <%=flash_messages%>
  <% form_for @invoice, :url => survey_billing_path(@survey) do |f| %>
    <%=f.label :organization_name, required('Company Name') %>    
    <%=f.text_field :organization_name %>
    <%=f.label :contact_name, required('Contact Name') %>    
    <%=f.text_field :contact_name, :size => 13 %>
    <%=f.label :address_line_1, required("Address Line 1") %> 
    <%=f.text_field :address_line_1 %>
    <%=f.label :address_line_2, "Address Line 2" %> 
    <%=f.text_field :address_line_2 %>
    <% form_row do %>
      <% form_box do %>
        <%=f.label :city, required('City') %> 
        <%=f.text_field :city, :size => 13 %>
      <% end %>
      <% form_box do %>
        <%= f.label :state, required('State') %> 
        <%= f.select :state, AccountsHelper::STATE_ABBR, :include_blank => true %>
      <% end %>
      <% form_box do %>
        <%=f.label :zip_code, required('Zip') %> 
        <%=f.text_field :zip_code, :size => 7 %>
      <% end %>
    <% end %>    
    <% form_row do %>
      <% form_box do %>
        <%=f.label :phone, required("Phone") %> 
        <%=f.text_field :phone, :size => 15 %>
      <% end %>
      <% form_box do %>
        <%=f.label :phone_extension, 'Ext.' %> 
        <%=f.text_field :phone_extension, :size => 5 %>
      <% end %>   
    <% end %>
    <label></label>
    <%= radio_button_tag 'credit_card', 'yes' %> 
    <label for="credit_card_yes" style="display: inline;">Pay by credit card</label>
    <label></label>
    <%= radio_button_tag 'credit_card', 'no' %>
    <label for="credit_card_no" style="display: inline;">I would like to be invoiced</label>
  <div class="submit_row">
      <input id="form_submit" type="submit" value="Next &ndash; Submit Billing Information" class="next" />
      <%= link_to "Back &ndash; Preview Survey", preview_survey_questions_path(@survey), :class => "previous", :method => :get %>
  </div>
  <% end %>
</div>
