<% title "Billing Information for #{@survey.job_title}" %>
<% highlight_tab("surveys") %>
<div class="breadcrumbs">
  <%= image_tag 'step_1_inactive.gif' %>
  <%= image_tag 'step_2_inactive.gif' %>
  <%= image_tag 'step_3_inactive.gif' %>
  <%= image_tag 'step_4_active.gif' %>
</div>
<div id="step_container">
  <h3>Billing Information</h3>
  <p class="preview_text">
    Enter your billing information and select the "Invoice" billing option below. You will not be invoiced for any
    surveys sponsored before September 1st, 2009. All fields are required.
  </p>
  <%=error_messages_for :invoice%>
  <%=flash_messages%>
  <% form_for @invoice, :url => survey_billing_path(@survey) do |f| %>
    <%=f.label :organization_name, 'Company Name' %>    
    <%=f.text_field :organization_name %>
    <%=f.label :contact_name, 'Contact Name' %>    
    <%=f.text_field :contact_name, :size => 13 %>
    <%=f.label :address_line_1, 'Address Line 1' %> 
    <%=f.text_field :address_line_1 %>
    <%=f.label :address_line_2, "Address Line 2" %> 
    <%=f.text_field :address_line_2 %>
    <% form_row do %>
      <% form_box do %>
        <%=f.label :city, 'City' %> 
        <%=f.text_field :city, :size => 13 %>
      <% end %>
      <% form_box do %>
        <%= f.label :state, 'State' %> 
        <%= f.select :state, AccountsHelper::STATE_ABBR, :include_blank => true %>
      <% end %>
      <% form_box do %>
        <%=f.label :zip_code, 'Zip' %> 
        <%=f.text_field :zip_code, :size => 7 %>
      <% end %>
    <% end %>    
    <% form_row do %>
      <% form_box do %>
        <%=f.label :phone, 'Phone' %> 
        <%=f.text_field :phone, :size => 15 %>
      <% end %>
      <% form_box do %>
        <%=f.label :phone_extension, 'Ext.' %> 
        <%=f.text_field :phone_extension, :size => 5 %>
      <% end %>   
    <% end %>
    <h3>How Would You Like to be Billed?</h3>
    
    <label class="inline"><%=f.radio_button :payment_type, 'credit' %> Enter Credit Card</label>  
    <div id="credit_card" style="padding-left: 2em; display: none;">  
      <% fields_for @credit_card do |credit_card| %>
      <% form_row do %>
        <% form_box do %>
          <%= credit_card.label :first_name, 'First name' %>
          <%= credit_card.text_field :first_name, :size => 10 %>
        <% end %>     
        <% form_box do %>
          <%= credit_card.label :last_name, 'Last name' %>
          <%= credit_card.text_field :last_name, :size => 10 %>
        <% end %>               
      <% end %>        
      <% form_row do %>
        <% form_box do %>
          <%= credit_card.label :type, 'Type' %>
          <%= credit_card.select :type, [['Visa','visa'],['MasterCard','master'],['American Express','american_express'],['Discover','discover']], {:include_blank => true} %>
        <% end %> 
        <% form_box do %>
          <%= credit_card.label :number, 'Number' %>
          <%= credit_card.text_field :number, :size => 18 %>
        <% end %>
        <% form_box do %>
          <%= credit_card.label :verification_value, 'Verification value' %>
          <%= credit_card.text_field :verification_value, :size => 4 %>
        <% end %>                  
      <% end %>  
      <% form_row do %>
        <% form_box do %>
          <%= credit_card.label :year, 'Expiration Month/Year' %>
          <%= credit_card.select :month, 1..12, {:include_blank => true} %>&nbsp;
          <%= credit_card.select :year, Time.now.year..(Time.now.year + 10), {:include_blank => true} %>
        <% end %>   
        <% form_box do %>
        <% end %>                  
      <% end %>        
      <p></p>
      <p>Upon successful completion of the survey, your card will be charged and you will receive a reciept via email.</p>  
      <% end %>
    </div>    
    <br />
    <label class="inline"><%=f.radio_button :payment_type, 'invoice' %> Send Me an Invoice</label>
    <div id="invoice"></div>
    <p></p>
    <p>
      By submitting this information, you agree that you have read and understand the
      <%= link_to "legal disclaimer", home_path('about'), :target => '_blank' %>. If you have any questions about the
      billing process, please <%= link_to "contact us", home_path('contact'), :target => '_blank' %>.
    </p>
  <div class="submit_row">
      <input id="form_submit" type="submit" value="Next &ndash; Submit Billing Information" class="next" />
      <input type="button" value='Back &ndash; Preview Survey' class="previous" onClick ="parent.location='<%=preview_survey_questions_path(@survey)%>'" />
  </div>
  <% end %>
</div>
<script type="text/javascript">

function initializeObservers() {

  $('invoice_payment_type_credit').observe('click', selectCreditCard);
  $('invoice_payment_type_invoice').observe('click', selectInvoice);
  
  if($('invoice_payment_type_credit').checked)
    $('credit_card').show();
    
  if($('invoice_payment_type_invoice').checked)
    $('invoice').show();    
 
}

function selectCreditCard() {
  $('credit_card').blindDown({'duration': 0.25});
  $('invoice').blindUp({'duration': 0.25});
}

function selectInvoice() {
  $('invoice').blindDown({'duration': 0.25})
  $('credit_card').blindUp({'duration': 0.25})
}

</script>

<% content_for :initialize_js, "initializeObservers();"%>
