<% 
  title "Welcome to Compsage!"
  page_name "front"
%>
<div id="banner">
  <image src="/images/banner.jpg" />
  <div id="login">
    <% form_tag session_path do %>
      <label for="email">Email Address</label>
      <%= text_field_tag 'email', '', :class => 'email' %>
      <label for="password">Password</label>
      <%= password_field_tag 'password', '', :class => 'password' %>
      <label for="remember_me">Remember Me: <%= check_box_tag 'remember_me', '' %></label>
      <%= submit_tag 'Log in' %> <%=link_to "Forgot your password?", forgot_account_path%> 
    <% end %>
  </div>
</div>
