<% title "Online customized compensation surveys"
   page_name "front"
   highlight_tab "home" %>
<div id="banner">
  <div id="login">
    <% form_tag session_path(@form_options) do %>
      <label for="email">Email Address</label>
      <%= text_field_tag 'email', '', :class => 'email' %>
      <label for="password">Password</label>
      <%= password_field_tag 'password', '', :class => 'password' %>
      <label for="remember_me">Remember Me: <%= check_box_tag 'remember_me', '' %></label>
      <%= submit_tag 'Log in' %> <%=link_to "Forgot your password?", forgot_account_path%> 
    <% end %>
  </div>
  <div id="top_banner"><img src="/images/banner.jpg" /></div>
  <div id="bottom_banner">
    <img src="/images/banner_bottom_left.jpg" /><%= link_to '<img src="/images/banner_bottom_right.jpg" />', home_path('how') %>
  </div>
</div>
<div class="image_header"><%= image_tag 'free_banner.gif' %></div>
<p class="main_page">CompSage is free to use! <%= link_to "Sign up now", has_key? ? new_account_path() : signup_path() %> and sponsor as many surveys as
you like.</p>
<div class="image_header"><%= image_tag 'sub_banner.gif' %></div>
<p class="main_page">CompSage compensation surveys allow you to collect relevant data one job at a time.  Ask our
standard questions, or design your own, it's completely up to you.</p>
<div class="image_header"><%= image_tag 'sub_banner2.gif' %></div>
<p class="main_page">Invite <em>only the companies you care about</em> so you know where your data comes from. From
  there, we take care of it. Once your survey is finished, a report will be distributed automatically.</p>
<div class="image_header"><%= image_tag 'sub_banner3.gif' %></div>
  
  <div class="third_column benefit">
  <h2>Quick</h2>
  <p>Get results in as little as 3 days.</p>
  
  <h2>Relevant &amp; Current</h2>
  <p>Get compensation data in use right now by companies you choose.</p>
</div>

<div class="third_column benefit">
  <h2>Customized</h2>
  <p>Ask our standard questions or add questions of your own.</p>

  <h2>Guaranteed</h2>
  <p>You will get enough data to satisfy your needs. Otherwise, you won't owe us anything.</p>
</div>
<div class="third_column benefit">
  <h2>Easy to Use</h2>
  <p>Our web-based software is both easy to use and powerful.</p>

  <h2>Cost Effective</h2>
  <p>Participate in a survey and get results free. Sponsor a survey for free and get just what you need.</p>
</div>
<br clear="both" />
<p>&nbsp;</p>
<p class="main_page">Find out how our <%= link_to "revolutionary approach", home_path('how') %> to compensation surveys
works so well. If you're ready to go, our <%= link_to "registration form", has_key? ? new_account_path() : signup_path() %> will take mere seconds and is
completely free. And, as always, we would love to <a href="mailto:support@compsage.com">hear from you</a>!</p>
