<% title "Welcome to Compsage!"
   page_name "front"
   highlight_tab "home" %>
   
<div id="banner">
  <div id="login">
    <% form_tag session_path do %>
      <label for="email">Email Address</label>
      <%= text_field_tag 'email', '', :class => 'email' %>
      <label for="password">Password</label>
      <%= password_field_tag 'password', '', :class => 'password' %>
      <label for="remember_me">Remember Me: <%= check_box_tag 'remember_me', '' %></label>
      <%= submit_tag 'Log in' %> <%=link_to "Forgot your password?", forgot_account_path%> 
    <% end %>
  </div>
  <div id="top_banner"><img src="/images/banner.jpg" /></div>
  <div id="bottom_banner">
    <img src="/images/banner_bottom_left.jpg" /><%= link_to '<img src="/images/banner_bottom_right.jpg" />', home_path('how') %>
  </div>
</div>
<div class="surveys_are"><%= image_tag 'sub_banner.gif' %></div>
<div class="third_column benefit">
  <h2>Customized</h2>
  Ask our standard questions or add questions of your own.

  <h2>Cost Effective</h2>
  Participate in a survey and get results free. Sponsor a survey for $100 and get just what you need.
</div>

<div class="third_column benefit">
  <h2>Quick Turnaround</h2>
  Get results in as little as 3 days.<br /><br />

  <h2>Guaranteed Results</h2>
  You will get enough data to satisfy your needs. Otherwise, you won't pay.
</div>
<div class="third_column benefit">
  <h2>Easy to Use</h2>
  Our web-based software is both easy to use and powerful.

  <h2>Relevant &amp; Current</h2>
  Get compensation data in use right now by companies you choose.
</div>
<br clear="both" />
<br />
<p class="main_page">Find out how our <%= link_to "revolutionary approach" %> to compensation surveys works so well.
If you're ready to go, our <%= link_to "registration form", signup_path %> will take mere seconds. As always, we're
available and open for <a href="mailto:support@compsage.com">comments and questions</a>.</p>
