<h3>Association Invitations</h3>
<div id="association_search">
  <label style="display: inline;">Name: </label>
  <input id="organization_name" type="textbox"/>
  <label style="display: inline;">Location: </label>
  <input id="organization_location" type="textbox"/>
  <span id="association_live_load_indicator" class="load_indicator_message" style="display: none;">
    <%= image_tag 'load_indicator.gif', :class => 'load_indicator' %>
    Updating List...
  </span>
</div>
<div id="organization_list">
<ul id="association_organizations">
<% organizations.each do |organization| %>
  <li id="organization_<%= organization.id %>">
    <a id="invite" href="#"><img src="/images/add_invitation_button.gif" /></a>
    <div>
      <span id="organization_<%= organization.id %>_name"><%= organization.name %></span> <br /> 
      <span class="grey">Location: </span><span id="organization_<%= organization.id %>_location"><%= organization.location%></span>
    </div>
  </li>
<% end %>  
</ul>
</div>
