<h3>Invite Members of <%=association.name%></h3>
<div id="association_search">
  <span style="font-size: 95%; color: grey;">Filter firms by...</span> <br />
  <label style="display: inline;">Name: </label>
  <input id="organization_name" type="textbox"/>
  <label style="display: inline;">Within: </label>
  <select id="organization_location">
    <option value="">Anywhere</option>
    <% (1..25).each do |i|%>
    <option value="<%=(10*i).to_s%>"><%=(10*i).to_s%> miles</option>
    <%end%>
  </select>
  <br />
  <label style="display: inline;">Size: </label>
  <select id="organization_size">
    <option value="">Any Size</option>
    <option value="[1,9]">1-9 Employees</option>
    <option value="[10,24]">10-24 Employees</option>
    <option value="[25,49]">25-49 Employees</option>
    <option value="[50,99]">50-99 Employees</option>
    <option value="[100,249]">100-249 Employees</option>
    <option value="[250,499]">250-499 Employees</option>
    <option value="[500,999]">500-999 Employees</option>
    <option value="[1000,2147483647]">1,000+ Employees</option>
  </select>
</div>
<div>
  <a id="invite_link" href="#">Invite All! (Needs button)</a>
  <a id="reset_link" href="#">Reset</a>
  <span id="invite_load_indicator" style="display: none;">
    <%= image_tag 'load_indicator.gif', :class => 'load_indicator' %>
  </span>
</div>
<div id="organization_list">
<ul id="association_organizations" class="invitations">
<% organizations.each do |organization| %>
  <li id="organization_<%= organization.id %>"> 
      <span id="organization_<%= organization.id %>_name">
        <%= organization.name %>
      </span> 
      <br /> 
      <span class="grey">
        Location: 
      </span>
      <span id="organization_<%= organization.id %>_location">
        <%= organization.location%>
      </span>
      <a id="invite" href="#"><img src="/images/add_invitation_button.gif" /></a>
  </li>
<% end %>  
</ul>
<script>
  $('reset_link').observe('click', function(e){
    e.stop();
    $('organization_name').value = "";
    $('organization_location').selectedIndex = 0;
    $('organization_size').selectedIndex = 0;
    
    $$('ul#association_organizations > li').each(function(org_li){
      org_li.show();
    });
  });
</script>
</div>
