<%=flash_messages%>
<div class="left_column third_column" id="invite_network_list">
  <h3>Networks</h3>
  <% if @networks.any? then %>
    <ul id="networks" class="entity_list">
      <% @networks.each do |network| %>
        <li class="network" id="network_<%= network.id %>">
          <a href="#" class="invite" title="Add network to invitation list"><%= image_tag "expand_button.gif", :alt => "Add network to invitation list" %></a>
          <div class="network_info_container">
            <%= network.name %><br />
            <a href="#" class="expand_network">Show Members</a>
            <div id="network_<%= network.id %>_members" class="network_members_container" style="display: none;">
              <div class="description_box"><%= auto_link_new_window(truncate(network.description, :length => 50))%></div>
              <h4>Members</h4>
              <ul class="network_members entity_list">
                <% network.organizations.each do |member|
                  next if member == current_organization %>
                  <li><%= link_to_organization(member, :include_location => false) %></li>
                <% end %>
              </ul>
              <a href="#" class="collapse_network">Hide Members</a>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You're not in any networks! You can save time by <%= link_to "creating a network", new_network_path %> of
    frequently used contacts.</p>
  <% end %>
</div>
<div class="two_third_main_column">
  <h3>Invitation List</h3>
  <ul id="invitations" class="entity_list">
    <li><%=link_to_organization(current_organization)%></li>
    <% @invitations.each do |invitation| %>
      <li id="invitation_<%= invitation.id %>">
        <% if invitation.pending? then %>
          <a href="#" class="remove"><%= image_tag "remove_button.gif" %></a>
        <% end %>
        <% if invitation.is_a?(SurveyInvitation) then %>
          <%= link_to_organization(invitation.invitee) %>
        <% else %>      
          <%= invitation.organization_name %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= render :partial => 'invitations/invite_organization' %>
</div>
<script type="text/javascript" src="/javascripts/fast_autocompleter.js"></script>
<script type="text/javascript">
function initializeObservers() {
  var cachedBackend = new Autocompleter.Cache(liveOrganizationSearch,{'choices': 10, 'dataToQueryParam': function(data) {return data.name;}});
  var cachedLookup = cachedBackend.lookup.bind(cachedBackend);

  new Autocompleter.Json('external_invitation_organization_name', 'search_results', cachedLookup, {
    'list_generator': function(choices) {
      var list = new Element('ul');

      choices.each(function(choice) {
        var li = new Element('li');
        li.insert('<div class="actions"><a href="javascript:;"><%= image_tag "add_invitation_button.gif" %></a></div>' + 
          '<div class="name">' + choice.name + '</div>') 
        if(choice.location) {
          li.insert('<div class="location description_box">Location: ' + choice.location + '</div>');
        }
        li.data = choice;
        list.insert(li);
      });

      return list;
      },
    'minChars': 2,
    'delay': 0.1,
    'updateElement': function(li) {
      addInvitation(li.data);
    }
  });

  $$('#networks > li').each(function(network_li) {
    var network_id = network_li.id.match(/\d+/)[0]
    var expand_link = network_li.select('a.expand_network').first();
    var collapse_link = network_li.select('a.collapse_network').first();

    expand_link.observe('click', function(e) {
      e.stop();
      $('network_' + network_id + '_members').show(); 
      this.hide();
    });

    network_li.select('a.collapse_network').first().observe('click', function(e) {
      e.stop();
      $('network_' + network_id + '_members').hide(); 
      expand_link.show();
    });

    network_li.select('a.invite').first().observe('click', inviteNetwork.curry(network_id));
  });

  $('invitation_form').observe('submit', addInvitationByForm);

  $$('ul#invitations > li').each(function(invitation_li) {
    var id_match = invitation_li.id.match(/\d+/);
    var invitation_id = '';
    if(id_match == null)
      return;
    else
      invitation_id = id_match[0];

    var remove_link = invitation_li.select('a.remove').first();
    if(remove_link)
      remove_link.observe('click', removeInvitation.curry(invitation_id));
  });
}

/*
 * This will send an ajax request to the server with the search text
 */
function liveOrganizationSearch(value, suggest) {
  new Ajax.Request('<%=search_organizations_path%>', {
    'method': 'get',
    'parameters': {'search_text': value},
    'requestHeaders': {'Accept':'application/json'},
    'onSuccess': function(transport) {
      suggest(transport.responseText.evalJSON());
    },
    'onCreate': function() {
      $('live_load_indicator').show();
    },
    'onComplete': function() {
      $('live_load_indicator').hide();
    }
  });
}

function addInvitation(organization) {
  new Ajax.Request('<%= survey_invitations_path(@survey) %>', {
    'method': 'post',
    'parameters': {'organization_id': organization.id},
    'onCreate': function() {$('submit_load_indicator').show();},
    'onComplete': function() {$('submit_load_indicator').hide();}
  });
}

function addInvitationByForm(e) {
  e.stop();
  var org_name = $F('external_invitation_organization_name');
  new Ajax.Request('<%= survey_invitations_path(@survey) %>', {
    'method': 'post',
    'parameters': $('invitation_form').serialize(),
    'onCreate': function() {$('submit_load_indicator').show();},
    'onComplete': function() {$('submit_load_indicator').hide();}
  });
}


function addInvitationToList(invitation_id, organization_name, organization_id) {
  $('external_invitation_organization_name').value = '';
  $('external_invitation_email').value = '';

  var newListElement = new Element('li', {'id': 'invitation_' + invitation_id});
  var removeLink = new Element('a', {'href':'#', 'class':'remove'});
  removeLink.insert('<%= image_tag "remove_button.gif" %>');
  removeLink.observe('click', removeInvitation.curry(invitation_id));
  newListElement.insert(removeLink);

  if(organization_id)
    newListElement.insert('<a href="<%= organizations_path %>/' + organization_id + '">' + organization_name + '</a>');
  else
    newListElement.insert(organization_name);

  $('invitations').insert(newListElement);
  newListElement.hide();
  newListElement.appear({'duration':0.5});
}

function removeInvitation(invitation_id, e) {
  e.stop();
  new Effect.Fade('invitation_' + invitation_id, {
    'duration': 0.5,
    'afterFinish': function() {
      $('invitation_' + invitation_id).remove();
    }
  });

  new Ajax.Request('<%= survey_invitations_path(@survey) %>/' + invitation_id, {
    'method': 'delete'
  });
}

function inviteNetwork(network_id, e) {
  e.stop();
  new Ajax.Request('<%= survey_invitations_path(@survey) %>/create_for_network', {
    'method': 'post',
    'parameters': {'network_id': network_id}
  });
}
</script>

<% content_for :initialize_js, "initializeObservers();"%>
