<%=flash_messages%>
<div class="left_column third_column" id="invite_network_list">
  <h3>Networks</h3>
  <% if @networks.any? then %>
    <ul id="networks" class="entity_list">
      <% @networks.each do |network| %>
        <li class="network" id="network_<%= network.id %>">
        <a href="#" class="invite" title="Add network to invitation list" id="network_<%= network.id %>_invite"><%= image_tag "expand_button.gif", :alt => "Add network to invitation list" %></a>
          <%= image_tag "load_indicator_sm.gif", :id => "load_indicator_#{network.id}", :class => 'invite_indicator', :style => "display:none;" %>
          <div class="network_info_container">
            <%= network.name %><br />
            <a href="#" class="expand_network">Show Members</a>
            <div id="network_<%= network.id %>_members" class="network_members_container" style="display: none;">
              <div class="description_box"><%= auto_link_new_window(truncate(network.description, :length => 50))%></div>
              <h4>Members</h4>
              <ul class="network_members entity_list">
                <% network.organizations.each do |member|
                  next if member == current_organization %>
                  <li><%= link_to_organization(member, :include_location => false) %></li>
                <% end %>
              </ul>
              <a href="#" class="collapse_network">Hide Members</a>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>You're not in any networks. In the future, you can save time by <%= link_to "creating a network", new_network_path %> of
    frequently used contacts.</p>
  <% end %>
</div>
<div class="two_third_main_column">
  <h3>Invitation List</h3>
  <ul id="invitations" class="invitations entity_list">
    <% @invitations.each do |invitation| %>
      <li id="invitation_<%= invitation.id %>">
        <% if invitation.pending? then %>
          <a href="#" class="remove"><%= image_tag "remove_button.gif" %></a>
        <% end %>
        <%= format_invitation(invitation, {:expose_external_invitation_email => true, :link_to_invitation => true}) %>
      </li>
    <% end %>
  </ul>
  <%if !current_association.nil? then %>
    <%= render :partial => 'invitations/association_invitation_form',
               :locals => {:association => @association, :survey => @survey} %>
  <% end %>
  <%= render  :partial => 'invitations/invite_organization', 
              :locals => {:association => current_association} %>
</div>
<script type="text/javascript" src="/javascripts/fast_autocompleter.js"></script>
<% content_for :initialize_js, "inviteList = new InviteList(#{@survey.id});"%>
