<% header = "Invite firms who are not members of #{association.name}" if !association.nil?%>
<% form_for 'external_invitation', @invitation,
  :url => (defined?(form_action) ? form_action : ""),
  :html => {:method => :post, :id => "invitation_form"} do |f| %>
  <div id="send_invitations">
    <h3><%= defined?(header) ? header : "New Invitation" %></h3>
    <%= error_messages_for :invitation %>
    <div id="error_content"></div>
    <div id="external_invitation_organization_name_wrapper">
      <label for="external_invitation_organization_name"><%= required('Organization Name') %></label>
      <%= f.text_field :organization_name, :size => 30 %>
      <span id="live_load_indicator" class="load_indicator_message" style="display: none;">
        <%= image_tag 'load_indicator.gif', :class => 'load_indicator' %>
        Searching for firms...
      </span>
      <div id="search_results" class="autocomplete" style="display:none;"></div>
    </div>
    <div id="external_invitation_form">
      <div id="external_invitation_email_wrapper">
        <label for="external_invitation_email"><%= required("Email Address") %></label>
        <%= f.text_field :email, :size => 30 %>
      </div>

      <input id="external_invitation_submit" type="submit" value="Add" />
      <span id="submit_load_indicator" style="display: none;">
        <%= image_tag 'load_indicator.gif', :class => 'load_indicator' %>
      </span>
    </div>
  </div>
<% end %>
