<div id="known_organization_div" <%=!@invitation.nil? && @invitation.errors.size != 0 ? "style='display:none;'" : ""%>>
<% form_tag(url, {
    :onSubmit => "if ($('organization_id').value != '') { return true } else { alert('Member does not exist'); return false; }"
   }) do %>
  <p>
  <label>Find Invitee by Organization Name:</label>
  <%=text_field_tag :search_text %><br />
  <div id="autocomplete_choices" class="autocomplete"></div>
  <%=hidden_field_tag :organization_id %>
  </p>
  <p>
    <input type="submit" value="Send" />
    <%=link_to "Done", done %>
  </p>
<script type="text/javascript">
  /* see http://github.com/madrobby/scriptaculous/wikis/ajax-autocompleter */
  new Ajax.Autocompleter("search_text", "autocomplete_choices", "<%=search_organizations_path()%>", {  
    afterUpdateElement : function (text, li) { $('organization_id').value = li.id; }
  });  
</script>  
<% end %> 
<%= link_to_function "Not sure if invitee is a member?", 
  "new Effect.toggle('unknown_organization_div','blind',{duration: .5});Element.toggle('known_organization_div');return false;" 
%>
</div>
<div id="unknown_organization_div" <%=@invitation.nil? || @invitation.errors.size == 0 ? "style='display:none;'" : ""%>>
<% form_for :invitation, @invitation, :url => url do |f| %>  
  <%=error_messages_for :invitation, :header_message => $DEFAULT_MESSAGE_HEADER, :message => $DEFAULT_MESSAGE_SECONDARY%>%>
  <p>  
    <label>Email:</label>
    <%=f.text_field :email %>
  </p>
  <p>
    <label>Organization Name:</label>
    <%=f.text_field :organization_name %>
  </p>
  <p>
    <input type="submit" value="Send" />
    <%=link_to "Done", done %>
  </p>
  <%= link_to_function "Find invitees by member name", 
    "new Effect.toggle('known_organization_div', 'blind', {duration: .5});Element.toggle('unknown_organization_div');return false;" 
  %>  
<% end %>  
</div>
