<li>
  <div class="invitation_description">
  <p><span class="label">Survey: </span><%=survey_invitation.survey.job_title%></p>
  <div class="survey_invitation_inviter_logo">
    <% if !survey_invitation.inviter.logo.nil? then %>
      <p><%=image_tag survey_invitation.inviter.logo.public_filename(:thumb) %></p>
    <% end %>
  </div>
  <p><span class="label">Inviter: </span><%=survey_invitation.inviter.name%></p>
  </div>
  <div class="invitation_actions">    
    <%=link_to "Take Survey", survey_path(survey_invitation.survey), :method => :put%>
    <%=link_to "Decline", invitation_path(survey_invitation), :method => :delete %>
  </div>
</li>
