<% #build the list of options for response type first
    question_options = ''
    Question::QUESTION_TYPES.each do |question_type, response_type|
      question_options = question_options + '<option'
      question_options = question_options + ' selected="selected"' if !@question.question_type.nil? && 
                                                                      question_type == @question.question_type
      question_options = question_options +'>' + question_type + '</option>'
    end 
%>
<%= error_messages_for :predefined_question, :question %>
<br />
<% form_for @predefined_question do |f| %>
  <p class="required">All fields are required.</p>
  <%= f.label :name, "Name", :class => 'discussion_label' %>
  <%= f.text_field :name, :size => 30 %>
  <p class="required">The name will appear when an association member is creating a new survey.</p>
  <%= f.label   :default, "Automatically include this question in new surveys:",
                :class => 'discussion_label' %>
  <span>Yes</span>
  <%= f.radio_button :default, "true" %>
  <br />
  <span>No</span>
  <%= f.radio_button :default, "false" %>
  <% fields_for :question, @question do |question_fields| %>
    <%= question_fields.label :text, "Question Text", 
                    :class => 'discussion_label' %>
    <%= question_fields.text_field :text, :size => 40%>
    <br />
    <br />
    <%= question_fields.label :question_type, "Response Type:",
          :class => 'discussion_label',
          :style => 'display: inline;' %>
    <%= select_tag 'question[question_type]', question_options %>
  <% end %>
  <div class="discussion_submit">
    <input    type="submit"  
              value="<%= predefined_question.new_record? ? 'Create' : 'Update' %>" /> or 
    <%= link_to "Cancel", association_settings_path %>
  </div>
<% end %>
