<% title "Organizations" %>
<h1>Organizations</h1>
<%= link_to "Back to Dashboard", admin_dashboard_path %>
<%= will_paginate @organizations %>
<table>
  <tr>
    <th><%= link_to "Name", admin_organizations_path(:order => 'name') %></th>
    <th><%= link_to "Contact", admin_organizations_path(:order => 'contact') %></th>
    <th><%= link_to "Location Name", admin_organizations_path(:order => 'location') %></th>
    <th>Location</th>
    <th><%= link_to "Last Login", admin_organizations_path(:order => 'last_login_at') %></th>
    <th><%= link_to "Last Sponsored", admin_organizations_path(:order => 'surveys.created_at') %></th>
    <th><%= link_to "Created At", admin_organizations_path(:order => 'created_at') %></th>
  </tr>
  <%= render :partial => 'organization', :collection => @organizations %>
</table>
<%= will_paginate @organizations %>
