<li>
  <div class="survey_invitation_job_title">
    <%=link_to survey_invitation.survey.job_title, survey_path(survey_invitation.survey.id)%>
  </div>
  <div class="survey_invitation_attributes">
    <span>Sponsor: </span><%=link_to survey_invitation.survey.sponsor.name, organization_path(survey_invitation.survey.sponsor.id)%>
    <span>Time Remaining: </span><%=time_ago_in_words(survey_invitation.survey.end_date)%>
  </div>
  <div class="survey_invitation_actions">
    <%=link_to 'Take Now', survey_path(survey_invitation.survey.id)%>
    <%=link_to 'Decline', survey_invitation_path(survey_invitation.survey.id, survey_invitation.id), :method => :delete %>
  </div>
</li>

