<% title "Invitations to #{@survey.job_title}" %>
<% highlight_tab("surveys") %>
<% if @survey.aasm_state == 'pending' %>
  <div class="breadcrumbs">
    <%= image_tag 'step_1_inactive.gif' %>
    <%= image_tag 'step_2_active.gif' %>
    <%= image_tag 'step_3_inactive.gif' %>
    <%= image_tag 'step_4_inactive.gif' %>
  </div>
<% end %>
<div id="step_container">
  <%= render :partial => "invitations/invitation_form", :locals => {:include_networks => true}%> 
</div>
<% if @survey.aasm_state == 'pending' then %>
  <div class="submit_row">
    <%= button_to "Next &ndash; Preview Survey", preview_survey_questions_path(@survey), :class => "next", :method => :get, :id => "invitation_form_submit" %>
    <%= button_to "Back &ndash; Edit Survey Design", edit_survey_path(@survey), :class => "previous", :method => :get %>
  </div>
<% else %>
  <p>
    <%= button_to "Update Invitation List", send_pending_survey_invitations_path(@survey) %> or
    <%= link_to "Back to Survey", survey_path(@survey) %>
  </p>
<% end %>
