<% title "Invitations to #{@survey.job_title}" %>
<% breadcrumbs(link_to(@survey.job_title,survey_path(@survey))) %>
<h2>Invitations to <%=@survey.job_title%></h2>
<p>
Invite other organizations to participate in <%=link_to(@survey.job_title,survey_path(@survey))%>
</p>
<p>
<%=flash_messages%>
<%= render :partial => "survey_invitations/survey_invitation_form"  %>
</p>
<% if @invitations.size > 0 then %>
  <p>Invitations to [product name here] members:
  <ul id="invitations">
    <% @invitations.each do |invitation| %>
    <li><%=invitation.invitee.name%>
      <div class="survey_actions"><%=link_to "Delete", survey_invitation_path(@survey, invitation), :method => :delete %></div>
    </li>
    <% end %>
  </ul>
<% end %>
<% if @external_invitations.size > 0 then %>
  <p>Invitations to non-members:
  <ul id="external_invitations">
    <% @external_invitations.each do |invitation| %>
    <li>
      <%=invitation.email%>
      <span> from </span>
      <%=invitation.organization_name%>
      <div class="survey_actions"></div>
    </li>
    <% end %>
  </ul>
<% end %>
