
<% title "Invitations to #{@survey.job_title}" %>
<% highlight_tab("surveys") %>
<h2>Invitations to <%=@survey.job_title%></h2>

<%= render :partial => "invitations/invitation_form", :locals => {
  :include_networks => true
}%> 

<div class="separator"><%=image_tag 'embellish.gif' %></div>
<div id="survey_finish_links">
	<% unless @survey.participations.find_by_survey_id(@survey.id) then %>
		<%=link_to "Respond Now", survey_questions_path(@survey)%> or <%=link_to "Maybe Later", survey_path(@survey)%>
	<% else %>
		<%=link_to "Finished", survey_path(@survey)%>
	<% end %>
</div>

