<% title "Invitations to #{@survey.job_title}" %>
<% breadcrumbs(link_to(@survey.job_title,survey_path(@survey))) %>
<% highlight_tab("surveys") %>
<h2>Invitations to <%=@survey.job_title%></h2>
<p>
Invite other organizations to participate in <%=link_to(@survey.job_title,survey_path(@survey))%>
</p>
<p>
  <%=flash_messages%>
  <% form_tag(create_with_network_survey_invitations_path(@survey), :method => :get) do |f| %>
    <p>  
      <label>Invite a Network:</label>
      <%= collection_select(:invitation, :network_id, current_organization.networks, :id, :name, {:prompt => 'Select a Network'}) %>
    </p>
    <p>
      <input type="submit" value="Send" />
      <%=link_to "Done", survey_path(@survey) %>
    </p>
  <% end %>  
  <%= render :partial => "invitations/invitation_form", :locals => {
    :url => survey_invitations_path(@survey), 
    :done => survey_path(@survey)
  }%> 
</p>
<% if @invitations.size > 0 then %>
  <ul id="invitations">
    <% @invitations.each do |invitation| %>
    <li>
      <%if invitation.is_a?(SurveyInvitation) then%>
        <%=link_to_organization(invitation.invitee) %></div>
      <%else%>      
        <%=invitation.organization_name%> (<%=invitation.email%>)
      <%end%>
    </li>
    <% end %>
  </ul>
<% else %>  
  <p>No invitations have been sent</p>
<% end %>
