<%=flash_messages%>
<% form_for @survey do |f| %>
  <%=error_messages_for :survey%>
  <%=f.label :job_title%>
	<%=f.text_field :job_title, :size => 40 %>
  <%=f.label :description, "Job description"%>
  <%=f.text_area :description, :rows => 4, :cols => 40 %>
  <% if @survey.new_record? then %>
  	<%=f.label :days_running, "Run length" %>
  	<%=f.select :days_running, (3..7).to_a.collect {|i| ["#{i} days", i]} %>
	<% end %>
	<h3>Standard questions</h3>
	<div id="standard_questions">
		<ul>
		  <% @predefined_questions.each do |predefined_question| %>
		    <% fields_for predefined_question, :index => predefined_question.id do |predefined_question_form| %>
		      <li>
  		        <%=predefined_question_form.check_box :included%>
  		        <%=predefined_question_form.label :included, predefined_question.name%>
					</li>
		    <% end %>
		  <% end %>
		</ul>
	</div>
	<h3>Custom questions</h4>
	<div id="custom_questions">
	  <p>
	  <ul id="custom_question_list">
		  <% @questions.each do |id, question| %>
		    <% fields_for question, :index => id do |question_form| %>
		      <li>
	          <%=question_form.check_box :included %>
					  <%=question_form.label :included, question[:text]%>
					  <span class="description"><%=question[:custom_question_type]%></span>
		        <%=question_form.hidden_field :custom_question_type %>
		        <%=question_form.hidden_field :text %>
		        <%=question_form.hidden_field :id %>
					</li>
		    <% end %>
		  <% end %>
	  </ul>
	  </p>
		<div class="box_container" id="custom_question_form">
			<div class="box">
				<label for="question_text">Question Text</label>
				<input type="text" size="30" id="question_text" />
			</div>
			<div class="box">
				<label for="response_type">Response Type</label>
				<select id="response_type">
					<option>Free response</option>
					<option>Numeric response</option>
					<option>Yes/No</option>
					<option>Agreement scale</option>
				</select>
			</div>
			<div class="box">
				<label>&nbsp;</label>
				<input type="button" value="Add Question" id="question_submit">
			</div>
		</div>
	</div>
	<br clear="both" />
  <% if !@network.nil? then %>
    <%=hidden_field_tag(:invite_network, @network.id ) %>
  <% end %>
  <p><input type="submit" value="<%=@survey.new_record? ? 'Create Survey' : 'Update' %>" /> or <%=link_to "Cancel", surveys_path %></p>
<% end %>
<script type="text/javascript">

function observeCustomQuestion() {
  $('question_submit').observe('click', createQuestion);
  
  callFunctionOnEnterForm($('custom_question_form'),createQuestion);

}

/*
 * This will validate the question, create a question object, store the question object, and render it in the DOM.
 */
function createQuestion() {

  var question_text = $F('question_text');
  var response_type = $F('response_type');
  var custom_question_list = $('custom_question_list');
  
  if (question_text == '') {
    return alert('Question text may not be blank');
  }
    
  var question_id = (new Date()).getTime();

  question_item = new Element('li');
	checkbox = new Element('input', {
  	  id: 'question_' + question_id + '_included', 
  	  type: 'checkbox', value: "1", 
  	  checked: 'checked', 
  	  name: 'question[' + question_id + '][included]'
	  });
	label = new Element('label', {for: 'question_' + question_id + '_included'}).update(question_text);
	descr = new Element('span', { class: "description" }).update(response_type);
	text = new Element('input', {type: 'hidden', value: question_text, name: 'question[' + question_id + '][text]'});
	type = new Element('input', {
	    type: 'hidden', 
	    value: response_type, 
	    name: 'question[' + question_id + '][custom_question_type]'
	  });	
	
	question_item.update(checkbox); 
	question_item.insert(label);  
	question_item.insert(descr); 
	question_item.insert(text);
	question_item.insert(type);    

  custom_question_list.insert(question_item, { position: 'bottom' });
  $('question_text').clear();
}


</script>

<% content_for :initialize_js, "observeCustomQuestion();"%>

