<% highlight_tab("surveys") %>
<% if @survey.pending? %>
  <div class="breadcrumbs">
    <%= image_tag 'step_1_active.gif' %>
    <%= image_tag 'step_2_inactive.gif' %>
    <%= image_tag 'step_3_inactive.gif' %>
    <%= image_tag 'step_4_inactive.gif' %>
  </div>
<% end %>
<div id="step_container">
  <%=flash_messages%>
  <% form_for @survey, :html => {:id => 'survey_form'} do |f| %>
    <% if @survey.pending? then %>
      <div class="info_box">
        <%= link_to "Tips for survey sponsorship", home_path('tips'), :target => '_blank' %>
      </div>
    <% end %>
    <%= error_messages_for :survey %>
    <%= f.label :job_title, required("Job title") %>
    <%= f.text_field :job_title, :size => 40 %>
    <%= f.label :description, "Job description" %>
    <%= f.text_area :description, :rows => 4, :cols => 40 %>
    <% if @survey.pending? then %>
      <%= f.label :days_running, "Run length" %>
      <%= f.select :days_running, (3..14).to_a.collect {|i| ["#{i} days", i]} %>
    <% elsif @survey.can_be_extended? then %>
      <p></p>
      <p>Extend deadline by
      <%=f.select :days_to_extend, (Survey::MINIMUM_DAYS_TO_EXTEND..(@survey.maximum_days_to_extend)).to_a, :include_blank => true %> days.</p>
    <% end %>
    <h3>Questions</h3>
    <ol id="new_questions" class="entity_list">
      <%=render(:partial => "questions/question", :collection => @survey.top_level_questions, :locals => {:level => 0})%>
    </ol>
    <label for='predefined_questions'>Add a Question</label>
    <select id="predefined_questions">
      <option value="">Choose which question...</option>
      <optgroup label="Standard Questions">
        <%= options_from_collection_for_select(PredefinedQuestion.all, 'id', 'name') %>
      </optgroup>
      <optgroup label="&nbsp;"></optgroup>
      <option value="0">Custom question...</option>
    </select>
    <div id='custom_question_form' style='display: none;'>
      <label for='custom_question_text' class='survey_question_label'><%=required('Question Text')%></label>
      <input id='custom_question_text' type='text' size='40' />    
      <div class="error_description" id="custom_question_warning"></div>
      <label for='custom_question_response' class='survey_question_label'>Response Type</label>
      <select id='custom_question_response'><%=options_for_select Question::QUESTION_TYPES.keys %></select>
    </div>
    <div id='follow_up_question' style='<%=@survey.questions.size > 0 ? "" : "display:none;"%>'>
      <label for='follow_up_question_select' class='survey_question_label'>Add as a follow-up to</label>
      <select id='follow_up_question_select'>
        <option value=''>Nothing</option>
        <%= options_from_collection_for_select(@survey.questions,'id','text')%>
    </select>
    </div>
    <div>
      <input id="question_submit" class="question_submit" type="submit" value="Add" />
      <%= image_tag 'load_indicator.gif', :class => 'load_indicator', :id => 'load_indicator', :style => 'display:none;' %>
    </div>
    <div class="submit_row">
      <% if @survey.pending? %>
        <input id="form_submit" type="submit" value="Next &ndash; Create Invitation List" class="next" />
	      <%= link_to "Cancel", { :action => "destroy", :id => @survey.id }, :confirm => "You are about to delete this survey. Are you sure?", :method => :delete %>
      <%else%>
        <input id="form_submit" type="submit" value="Next &ndash; Preview Survey" class="next" />
	      <input type="button" onclick="window.location='<%= survey_path(@survey) %>'" value="Back" class="previous" />
	    <%end%>
    </div>
  <% end %>
</div>
<br clear="both" />
<script type="text/javascript">

function initializeObservers() {
  var set = new EditableQuestionSet('new_questions', $('survey_form'), <%= @survey.id %>);
}

/**
 * This will ensure proper zebra-striping for the questions list
 */
</script>

<% content_for :initialize_js, "initializeObservers();"%>

