<% title "Surveys" %>
<% highlight_tab("surveys") %>
<% content_for :sidebar do %>
	<div id="my_surveys">
		<h2>My Surveys</h2>
		<% if @my_surveys.empty? then %>
			<p>You currently don't have any survey results.  You can search for surveys to participate in to the right, as well
				as <%=link_to "sponsor a survey", new_survey_path()%>.</p>
		<% else %>
			<ul>
				<%=render :partial => 'my_survey', :collection => @my_surveys %>
			</ul>
			<%=link_to "Older Surveys", my_surveys_path%></a>
		<% end %>
	</div>
<% end %>

<div id="search_box">
	<% form_tag search_surveys_path, :method => :get do %>
	  <%= hidden_field_tag 'filter_by_subscription', @filter_by_subscription %>
	  <%= text_field_tag 'search_text', @search_text %>
		<input type="submit" id="search_submit" value="Find a Survey">
	<% end %>
</div>
<%=link_to image_tag("sponsor_a_survey_button.gif"), new_survey_path%>
<%=flash_messages%>
<% if @invited_surveys.any? then %>
	<div id="invitations">
		<h2>Invitations</h2>
		<ul class="surveys">
			<% @invited_surveys.each do |invite| %>
				<li>
					<h3><%=link_to invite.survey.job_title, survey_path(invite.survey)%> <span class="sponsor">sponsored by
						<%=link_to invite.survey.sponsor.name, organization_path(invite.survey.sponsor) %></span></h3>
					<div class="actions no_description"><%=link_to "More information", survey_path(invite.survey), :class => 'action'%> or
						<%=link_to "Decline", survey_invitation_path(invite.survey, invite), :method => :delete, :class => 'action' %></div>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
<h2>Browse Current Surveys</h2>
<ul class="surveys">
	<%=render :partial => 'survey', :collection => @surveys %>
</ul>
<%=will_paginate @surveys%>