<% title "Surveys" %>
<% highlight_tab("surveys") %>
<% content_for :sidebar do %>
	<div id="surveys_sidebar">
		<% if @survey_participations.any? then %>
			<h2>Recent Responses</h2>
			<ul>
				<% @survey_participations.each do |participation| %>
          <li>
            <%=link_to participation.survey, participation.survey%> sponsored by <%=link_to_organization participation.survey.sponsor%>
            <div class="description_box">
              <% if participation.survey.running? then %>
                Results available in <%=distance_of_time_in_words_to_now(participation.survey.end_date)%>
              <% else %>
                Insufficient participation for results
              <% end %>
            </div>
          </li>
				<% end %>
			</ul>
		<% end %>
		<h2>Recent Survey Results</h2>
		<% if @my_results.empty? then %>
			<p>You currently don't have any survey results.  You can search for surveys to participate in to the right, as well
				as <%=link_to "sponsor a survey", new_survey_path%>.</p>
		<% else %>
			<ul>
				<% @my_results.each do |survey| %>
					<li><%=link_to survey, survey_report_path(survey)%></li>
				<% end %>
			</ul>
			<p><%=link_to "All Results", reports_surveys_path%></p>
		<% end %>
	</div>
<% end %>

<div id="search_box">
	<% form_tag search_surveys_path, :method => :get do %>
	  <%= hidden_field_tag 'filter_by_subscription', @filter_by_subscription %>
    <%= text_field_tag 'search_text', @search_text %><input type="submit" id="submit" value="" />
	<% end %>
</div>
<%=link_to image_tag("sponsor_a_survey_button.gif"), new_survey_path%>
<%=flash_messages%>
<% if @invited_surveys.any? then %>
	<div id="invitations">
		<h2>Invitations</h2>
		<ul class="surveys">
			<% @invited_surveys.each do |invite| %>
				<li>
					<h3><%=link_to invite.survey, survey_path(invite.survey)%> <span class="sponsor">sponsored by
						<%=link_to invite.survey.sponsor.name, organization_path(invite.survey.sponsor) %></span></h3>
          <div class="description"><%= auto_link(invite.survey.description, :href_options => { :target => '_blank' }) %></div>
          <div class="deadline">Participation deadline in <%=distance_of_time_in_words_to_now(invite.survey.end_date)%></div>
          <div class="actions no_description">
            <%=link_to "Decline Invitation", decline_survey_invitation_path(invite.survey, invite), :method => :put, :class => 'action' %>
          </div>
				</li>
			<% end %>
		</ul>
	</div>
<% end %>
<% if @my_surveys.any? then %>
	<h2>My Surveys</h2>
	<div id="my_surveys">
		<ul class="my_surveys">
      <% @my_surveys.each do |survey| %>
        <% if survey.stalled? then %>
          <% if survey.can_be_rerun? %>
            <li>
              <h3><%=link_to survey, survey%></h3>
              <div class="status">
                <span class="state stalled">Stalled</span>
                <span class="participants"><%= pluralize(survey.participations.count, 'participant') %></span>
                <span class="invitations"><%= pluralize(survey.all_invitations(true).size, 'invitation') %></span>
              </div>  
            </li>
          <% else %>
            <li class="Expired">
              <h3><%=link_to survey, survey%></h3>
              <div class="status">
                <span class="state expired">Expired</span>
                <span class="participants"><%= pluralize(survey.participations.count, 'participant') %></span>
                <span class="invitations"><%= pluralize(survey.all_invitations(true).size, 'invitation') %></span>
              </div>
            </li>
          <% end %>
        <% else %>
          <li>
            <h3><%=link_to survey, survey%></h3>
            <div class="status">
              <span class="state running">Running</span> 
              <span class="participants"><%= pluralize(survey.participations.count, 'participant') %></span>
              <span class="invitations"><%= pluralize(survey.all_invitations(true).size, 'invitation') %></span>
            </div>
            <div class="deadline">Participation deadline in <%=distance_of_time_in_words_to_now(survey.end_date)%></div>
          </li>
        <% end %>
			<% end %>
		</ul>
	</div>
<% end %>
<% if @surveys.any? then %>
  <h2>Browse Current Surveys</h2>
  <ul class="surveys">
    <%=render :partial => 'survey', :collection => @surveys %>
  </ul>
<% end %>
<%=will_paginate @surveys%>
