<% title "My Surveys" %>
<% breadcrumbs(link_to("Surveys",surveys_path)) %>
<% highlight_tab("surveys") %>
<h2>My Surveys</h2>
<p>
These are the surveys you have sponsored or participated
</p>
<%=flash_messages%>
<p><%=link_to "Sponsor a Survey", new_survey_path()%></p>
<p><%=link_to "All Surveys", surveys_path()%></p>
<h3>Search My Surveys</h3>
<%= render :partial => "search_form", :locals => { :search_subscribed_only => true } %>
<!--TODO: Sorting an pagination-->
<ul id="surveys">
<%= render :partial => "survey", :collection => @surveys %>
</ul>
