<% title "New Survey" %>
<% breadcrumbs(link_to("Surveys",surveys_path)) %>
<h2>New Survey</h2>
<%=flash_messages%>
<% form_for :survey, @survey, :url => surveys_path do |f| %>
  <%=error_messages_for :survey %>
  <p>Job Title: <%=f.text_field :job_title %></p>
  <p>Job Description:<br />
  <%=f.text_area :description, :rows => 4, :cols => 60 %></p>
  <p>Run for <%=f.select :days_running, (3..7).to_a %> days.</p>
  <p>
    Select the questions you wish to ask:
    <ul>
      <% @predefined_questions.each do |question| %>
        <% fields_for "predefined_question", :index => question.id do |question_form| %>
          <li><%=question_form.check_box :included%> <%=question.name%> - <%=question.description%></li>
        <% end %>
      <% end %>
    </ul>
  </p>
  <% if !@network.nil? then %>
    <%=hidden_field_tag(:invite_network, @network.id ) %>
  <% end %>
  <p><input type="submit" value="Create" /> <%=link_to "Cancel", surveys_path %></p>
<% end %>
