<% title "My Surveys" %>
<% highlight_tab("surveys") %>
<h2>My Survey Results</h2>
<%=flash_messages%>
<ul id="survey_results">
  <% @surveys.each do |survey| %>
    <li>
      <h3><%= link_to survey, survey %> <span class="sponsor">sponsored by <%= link_to_organization survey.sponsor %></span></h3>
      <div class="description_box"><%= auto_link(survey.description) %></div>
      <div>Results generated <%= survey.end_date.to_date.to_s(:long_ordinal) %></div>
    </li>
  <% end %>
</ul>
<%= will_paginate @surveys %>
