<% title @survey.job_title %>
<% highlight_tab logged_in? ? "surveys" : "survey" %>
<h2><%= @survey.job_title %>
	<span class="sponsor">sponsored by <%=link_to_organization(@survey.sponsor)%></span></h2>
<% if @survey.stalled? then %>
  <% if logged_in? && @survey.sponsor.id == current_organization.id then %>
    <% if @survey.can_be_rerun? then %>
      <% if @survey.enough_responses? then %>
        <p>
          Not all of the questions have adequate participation for results to be available. You may <%=link_to "finish", finish_partial_survey_path(@survey)%> the survey to view the partial results or re-run the survey and send additional invitations. The question response rates are below.
        </p>
      <% elsif @survey.enough_participations? %>
        <p>      
          Unfortunately, none of the questions have adequate participation for results to be available.  You may re-run the survey and send additional invitations. 
        </p>     
      <% else %>
        <p>
          Unfortunately, you did not get the required number of participants for results to be available.  You may re-run the survey and send additional invitations.
  		  </p>
      <% end %>
      <p>
        <% form_for(:survey, @survey, :url => rerun_survey_path(@survey), :html => { :method => :get }) do |f| %>  
          <%=error_messages_for :survey%>      
          Re-run for <%=f.select :days_running, (Survey::MINIMUM_DAYS_TO_RERUN..(@survey.maximum_days_to_rerun)).to_a %> days.
          <input type="submit" value="Re-Run" />
        <% end %>  
      </p>
      <%=render :partial => 'questions/response_rates', :locals => { :survey => @survey } %>
      <p>
        Click <%=link_to "here", survey_path(@survey), :method => :delete %> to cancel the survey.
      </p> 
    <% else %>
      <p>
        Unfortunately, you did not get the required number of participants for results to be
        available. This survey has exceeded more than <%=(Survey::MAXIMUM_DAYS_TO_RUN - Survey::MINIMUM_DAYS_TO_RERUN)%> days
        old and may no longer be rerun.
      </p>
    <% end %>
  <% else %>
    <p>Survey results are unavailable due to insufficient data.  The
      survey sponsor may choose to re-run the survey in an effort to get increased participation.  If this is
      the case, you will be notified.</p>      
  <% end %>
<% else %>
	<%=flash_messages%>
  <div id="invitation_list">
    <% if @participation.nil? then %>
      <%=link_to image_tag("respond_button.gif"), survey_questions_path(@survey)%>
      <div class="deadline">Participation deadline in <%=time_ago_in_words(@survey.end_date)%></div>
    <%else%>
      You responded on <%=@participation.created_at.strftime("%B %d")%>.<br />
      <%=link_to "Edit your response.", survey_questions_path(@survey)%>
    <%end%>

    <% if @survey.sponsor == current_organization then %>
			<h3>Manage Your Survey</h3>
				<p><%=link_to "Edit Questions &amp; Job Description", edit_survey_path(@survey)%><br />
				<%=link_to "Manage Invitation List", survey_invitations_path(@survey) %></p>
		<% end %>
		<h3>Invitation List</h3>
		<ol>
			<% @invitations.each do |invitation| %>
				<li>
					<% if invitation.is_a?(SurveyInvitation) then %>
	          <%=link_to_organization(invitation.invitee)%>     
	        <% else %>      
	          <%=invitation.organization_name%> (<%=invitation.email%>)
	        <% end %>
				</li>
			<% end %>
		</ol>
    <p>Participants: <%= @survey.participations.count %></p>
		<% if @survey.sponsor == current_organization && !@survey.enough_invitations? then %>
		  <p>Warning: <%=Survey::REQUIRED_NUMBER_OF_PARTICIPATIONS%> participants are required to provide results. We recommend you invite at least <%=pluralize(@survey.recommended_number_of_invitations, 'additional organization')%>.</p>
		<% end %>
	</div>
	<h3>Job Description</h3>
	<p class="description_box"><%=auto_link(@survey.description, :href_options => { :target => '_blank' })%></p>
	<h3>Discussion</h3>
	<% if @discussions.any? then %>
		<p><a href="#" id="new_discussion_link">Start new discussion</a></p>
	<% else %>
		There are currently no discussion topics.  You may <a href="#" id="new_discussion_link">start one now</a>.
	<% end %>
	<div id="new_discussion_form" style="<%='display: none;' unless @discussion.errors.size > 0%>">
  	<%=render :partial => 'discussions/discussion_form', :locals => { :discussion => @discussion } %>
	</div>
	<ul id="discussions">
	  <%=render :partial => 'discussions/discussion_topic', :collection => @discussions.sort %>
	</ul>
	<p class="discussion_warning">You must preserve your anonymity and the anonymity of the other participants. The posting of
		compensation information is unlawful.</p>
<script type="text/javascript">

function observeDiscussions() {

  /* Show/hide the new discussion form */
  $('new_discussion_link').observe('click', startNewDiscussion.curry($('new_discussion_form')));
  $('new_discussion_link_cancel').observe('click', cancelNewDiscussion.curry($('new_discussion_form')));
  
  <% @discussions.each do | discussion_topic | %>
  
    <% if current_organization_or_survey_invitation.eql?(discussion_topic.responder) then %>
     /* Scriptaculous in-place editing of discussion topic subject/body */
      new Ajax.InPlaceEditor(
        'discussion_body_<%=discussion_topic.id%>', 
        '<%=survey_discussion_path(@survey.id,discussion_topic.id)%>',
        {
          rows:4, 
          cols:30, 
          callback: function(form, value) { return '_method=put&id=<%=discussion_topic.id%>&discussion[body]='+escape(value) }
        }
      );
      new Ajax.InPlaceEditor(
        'discussion_subject_<%=discussion_topic.id%>', 
        '<%=survey_discussion_path(@survey.id,discussion_topic.id)%>',
        {callback: function(form, value) { return '_method=put&id=<%=discussion_topic.id%>&discussion[subject]='+escape(value)}}
      );
    <% end %>
    
     /* Show/hide the reply form */
    $('discussion_reply_<%=discussion_topic.id%>').observe(
      'click', 
      startNewDiscussion.curry($('discussion_reply_box_<%=discussion_topic.id%>'))
    );
    $('discussion_reply_<%=discussion_topic.id%>_cancel').observe(
      'click', 
      cancelNewDiscussion.curry($('discussion_reply_box_<%=discussion_topic.id%>'))
    );
    
    <% discussion_topic.all_children.each do | discussion | %>
    
      <% if current_organization_or_survey_invitation.eql?(discussion.responder) then %>
        /* Scriptaculous in-place editing of discussion body */
        new Ajax.InPlaceEditor(
          'discussion_body_<%=discussion.id%>', 
          '<%=survey_discussion_path(@survey.id,discussion.id)%>',
          {
            rows:4, 
            cols:30, 
            callback: function(form, value) { return '_method=put&id=<%=discussion.id%>&discussion[body]='+escape(value) }
          }
        );
      <% end %>
    <% end %>   
     
  <% end %>  
  
}

function startNewDiscussion(elem, e) {
  elem.show();
  e.stop();
}

function cancelNewDiscussion(elem, e) {
  elem.hide();
  e.stop();
}

</script>

<% content_for :initialize_js, "observeDiscussions();"%>
<% end %>
