<%
  title @survey.job_title 
  if logged_in? then breadcrumbs(link_to("Surveys", surveys_path )) end 
  #Don't show breadcrumbs when not logged in (survey invitations do not have a dashboard
%>
<h2><%= @survey.job_title %></h2>
<%=flash_messages%>
<h3>Sponsored by <%=@survey.sponsor.name%></h3>
<% if logged_in? && @survey.sponsor.id == current_organization.id then %>
  <%=link_to 'Edit', edit_survey_path(@survey)%>
  <%=link_to 'Invite', survey_invitations_path(@survey)%>
<% end %>
<p><%=@survey.description%></p>
<span>Time Remaining: </span><%=time_ago_in_words(@survey.end_date)%>
<p><%=link_to "Respond to #{@survey.job_title}", survey_questions_path(@survey)%></p>
<%= render "discussions/index" %>

