<% title @survey.job_title %>
<% highlight_tab("surveys") %>
<h2><%= @survey.job_title %>
	<div class="sponsor">Sponsored by <%=link_to_organization(@survey.sponsor)%></div></h2>
  <% if logged_in? && @survey.sponsor.id == current_organization.id then %>
    <% if @survey.can_be_rerun? then %>
      <% if @survey.enough_responses? then %>
        <p>
The survey could not be successfully completed because some of the questions did not receive the required number of responses. You may <%=link_to "finish", finish_partial_survey_path(@survey)%> the survey now to view results for questions that met minimum response requirements (see below), or you may provide an extension to those already invited and invite additional participants. 
        </p>
      <% elsif @survey.enough_participations? %>
        <p>      
The survey could not be successfully completed because none of the questions received the required number of responses. If you are still interested in conducting this survey, you may provide an extension to those already invited and invite additional participants.
        </p>     
      <% else %>
        <p>
The survey could not be successfully completed because only <%=@survey.participations.count%> of <%=Survey::REQUIRED_NUMBER_OF_PARTICIPATIONS%> required organizations provided responses. If you are still interested in conducting this survey, you may provide an extension to those already invited and invite additional participants.
  		  </p>
      <% end %>
      <p>
        <% form_for(:survey, @survey, :url => rerun_survey_path(@survey), :html => { :method => :get }) do |f| %>  
          <%=error_messages_for :survey%>      
          Extend <%=f.select :days_running, (Survey::MINIMUM_DAYS_TO_RERUN..(@survey.maximum_days_to_rerun)).to_a %> days.
          <input type="submit" value="Submit" />
        <% end %>  
      </p>
      <%=render :partial => 'questions/response_rates', :locals => { :survey => @survey } %>
      <p><%=link_to "Cancel the survey", survey_path(@survey), :method => :delete %></p> 
    <% else %>
      <p>
        The survey could not be successfully completed due to insufficient participation. This survey has exceeded <%=(Survey::MAXIMUM_DAYS_TO_RUN - Survey::MINIMUM_DAYS_TO_RERUN)%> days and may no longer be extended.
      </p>
      <p><%=link_to "Cancel the survey", survey_path(@survey), :method => :delete %></p> 
    <% end %>
  <% else %>
    <p>
    The survey could not be successfully completed due to insufficient participation. The sponsor may provide an extension in order to increase participation. If so, you will notified via email.
    </p>      
  <% end %>
  

