<% title @survey.job_title %>  
<% # Don't show breadcrumbs when not logged in (survey invitations do not have a dashboard)
breadcrumbs(link_to("Surveys", surveys_path )) if logged_in? %>
<% if logged_in? then highlight_tab "surveys" else highlight_tab "survey" end %>
<h2>Survey for <%= @survey.job_title %></h2>
<div class="survey_sponsor">Sponsored by <%=@survey.sponsor.name%></div>
<%=flash_messages%>
<% if @survey.stalled? then %>
  <% if logged_in? && @survey.sponsor.id == current_organization.id then %>
    <p>Unfortunately, you did not get the required number of participants for results to be available.  You
    can choose to leave this as-is, or you can re-run the survey and send out some additional
    invitations.</p>
    <% form_for(:survey, @survey, :url => rerun_survey_path(@survey), :html => { :method => :get }) do |f| %>  
      <%=error_messages_for :survey%>
      <p>
        Specify a new duration and select re-run. You will then be allowed to invite additional invitees.
      </p>
      <p>Run for <%=f.select :days_running, (3..7).to_a %> days.</p>
      <p>
        <input type="submit" value="Re-Run" />
      </p>
    <% end %>      
  <% else %>
    <p>This survey is currently closed.  Further, survey results are unavailable due to insufficient data.  The
      survey sponsor may choose to re-run the survey in an effort to get increased participation.  If this is
      the case, you will be notified.</p>      
  <% end %>
<% else %>
  <% if logged_in? && @survey.sponsor.id == current_organization.id && @survey.running? then %>
    <p>This is your survey.  You can <%=link_to 'edit the survey', edit_survey_path(@survey)%> or
    <%=link_to 'invite others to participate', survey_invitations_path(@survey)%>.</p>
  <% end %>
  <p><%=@survey.description%></p>
  <p>Response Deadline: <%=@survey.end_date.strftime("%B %d")%> (<%=time_ago_in_words(@survey.end_date)%> from now)</p>
  <p><%= link_to_function "Invitees (#{@survey.invitations.size + @survey.external_invitations.size})", "new Effect.toggle('invitation_section', 'blind', {duration: .5});return false;" %></p>
  <div id="invitation_section" style="display:none;">
    <% if @survey.invitations.size > 0 || @survey.external_invitations.size > 0 then %>
      <p>The following companies have been invited to participate:</p>
      <ul id="invitations">
        <% @survey.invitations.each do |invitation| %>
          <li><%=link_to invitation.invitee.name, organization_path(invitation.invitee)%></li>
        <% end %>
        <% @survey.external_invitations.each do |invitation| %>
          <li><%=invitation.organization_name%></li>
        <% end %>
      </ul>
    <% else %>
      <p>No companies have been invited to participate</p>
    <% end %>
  </div>
  <%=link_to "Take Survey Now", survey_questions_path(@survey), :class => 'button'%>
<% end %>

<h3>Discussion</h3>
<p>
  This is a forum for questions and clarifications regarding a survey. 
  Please remember to preserve your anonymity and the anonymity of the other participants.
  The posting of compensation information is strictly forbidden.
  If you encounter abuse of the discussion board, please report it immediately.
</p>

<p>
  <%=link_to "Create new discussion topic", new_survey_discussion_path(@survey) %>
</p>
<ul id=discussions>
  <% @discussions.sort.each do |discussion_topic| %>
    <li>
      <div class="discussion_topic">
        <%= render(:partial => "discussions/discussion", 
                   :object => discussion_topic)%>
      </div>
      <div class="discussion_replies">
        <ul id="discussion_<%=discussion_topic.id%>_replies">
          <% discussion_topic.all_children.find_all{|discussion| discussion.is_not_abuse}.sort.each do |discussion_reply| %>
            <li>
              <%= render :partial => "discussions/discussion",
                         :object => discussion_reply %>
            </li>
          <% end %>
        </ul>
      </div>
    </li>
  <% end %>
</ul>
