<% title @survey.job_title %>
<% highlight_tab logged_in? ? "surveys" : "survey" %>
<h2>Survey for <%= @survey.job_title %>
	<span class="sponsor">sponsored by <%=link_to_organization(@survey.sponsor)%></span></h2>
<%=flash_messages%>
<div id="invitation_list">
	<% if @survey.sponsor == current_organization then %>
		<h3>Manage Your Survey</h3>
			<p><%=link_to "Edit Questions &amp; Job Description", edit_survey_path(@survey)%><br />
			<%=link_to "Manage Invitation List", survey_invitations_path(@survey) %></p>
	<% end %>
	<h3>Invitation List</h3>
	<ol>
		<% @invitations.each do |invitation| %>
			<li>
				<% if invitation.is_a?(SurveyInvitation) then %>
          <%=link_to_organization(invitation.invitee)%>     
        <% else %>      
          <%=invitation.organization_name%> (<%=invitation.email%>)
        <% end %>
			</li>
		<% end %>
	</ol>
	There are <%=pluralize(@survey.participations.count, 'participant')%> so far.
</div>

<h3>Job Description</h3>
<p class="description_box"><%=@survey.description%></p>
<% if @survey.stalled? then %>
  <% if logged_in? && @survey.sponsor.id == current_organization.id then %>
    <p>Unfortunately, you did not get the required number of participants for results to be available.  You
    can choose to leave this as-is, or you can re-run the survey and send out some additional
    invitations.</p>
    <% form_for(:survey, @survey, :url => rerun_survey_path(@survey), :html => { :method => :get }) do |f| %>  
      <%=error_messages_for :survey%>
      <p>
        Specify a new duration and select re-run. You will then be allowed to invite additional invitees.
      </p>
      <p>Run for <%=f.select :days_running, (3..7).to_a %> days.</p>
      <p>
        <input type="submit" value="Re-Run" />
      </p>
    <% end %>      
  <% else %>
    <p>This survey is currently closed.  Further, survey results are unavailable due to insufficient data.  The
      survey sponsor may choose to re-run the survey in an effort to get increased participation.  If this is
      the case, you will be notified.</p>      
  <% end %>
<% else %>
  <% if @participation.nil? then %>
    <%=link_to image_tag("respond_button.gif"), survey_questions_path(@survey)%> (<%=time_ago_in_words(@survey.end_date)%> left)
  <%else%>
    You responded on <%=@participation.created_at.strftime("%B %d")%>. <%=link_to "Edit your response.", survey_questions_path(@survey)%>
  <%end%>
<% end %>

<h3>Discussion</h3>
<p>You must preserve your anonymity and the anonymity of the other participants. The posting of
	compensation information is unlawful.</p>
<% if @discussions.any? then %>
	<p><%=link_to "Create new discussion topic", new_survey_discussion_path(@survey) %></p>
	<ul id="discussions">
	  <% @discussions.sort.each do |discussion_topic| %>
	    <li>
	      <div class="discussion_topic">
	        <%= render(:partial => "discussions/discussion", 
	                   :object => discussion_topic)%>
	      </div>
	      <div class="discussion_replies">
	        <ul id="discussion_<%=discussion_topic.id%>_replies">
	          <% discussion_topic.all_children.find_all{|discussion| discussion.is_not_abuse}.sort.each do |discussion_reply| %>
	            <li>
	              <%= render :partial => "discussions/discussion",
	                         :object => discussion_reply %>
	            </li>
	          <% end %>
	        </ul>
	      </div>
	    </li>
	  <% end %>
	</ul>
<% else %>
	There are currently no discussion topics.  You may <%=link_to "start one now", new_survey_discussion_path(@survey)%>.
<% end %>