<% title @survey.job_title %>
<% highlight_tab("surveys") %>
<% content_for :sidebar do %>
  <div id="invitation_list">
    <% if @participation.nil? then %>
      <%=link_to image_tag("respond_button.gif"), survey_questions_path(@survey)%>
      <div class="deadline">Participation deadline in <%=better_time_ago_in_words(@survey.end_date)%></div>
    <%else%>
      You responded on <%=@participation.created_at.strftime("%B %d")%>.<br />
      <%=link_to "Edit your response.", survey_questions_path(@survey)%>
    <%end%>

    <% if @survey.sponsor == current_organization then %>
      <h3>Manage Your Survey</h3>
        <% if !@survey.participations.any? %>        
          <p><%=link_to "Edit Questions &amp; Job Description", edit_survey_path(@survey)%><br />
	    <% end %>
        <%=link_to "Manage Invitation List", survey_invitations_path(@survey) %></p>
    <% end %>
    <h3>Invitation List</h3>
    <ol>
      <% @invitations.each do |invitation| %>
        <li>
          <% if invitation.is_a?(SurveyInvitation) then %>
            <%=link_to_organization(invitation.invitee)%>     
          <% else %>      
            <%=invitation.organization_name%>
          <% end %>
        </li>
      <% end %>
    </ol>
    <p>Participants: <%= @survey.participations.count %></p>
    <% if @survey.sponsor == current_organization && !@survey.enough_invitations? then %>
      <p><%=Survey::REQUIRED_NUMBER_OF_PARTICIPATIONS%> participants are required to provide results. We recommend you invite at least <%=pluralize(@survey.recommended_number_of_invitations, 'additional organization')%>.</p>
    <% end %>
  </div>
<% end %>
  <h2><%= @survey.job_title %><br />
  <div class="sponsor">Sponsored by <%=link_to_organization(@survey.sponsor)%></div></h2>
  <div class="main_description"><%=link_and_format(@survey.description)%></div>
  <%=flash_messages%>
  <h3>Questions &amp; Clarifications</h3>
  <p>If you need more information about the survey, you can ask a question or request a clarification from the survey's sponsor: <a href="#" id="new_discussion_link">Ask something now.</a></p>
  <% if !@discussions.any? then %>
    No questions or clarifications have been asked.
  <% end %>
  <div id="new_discussion_form" style="<%='display: none;' unless @discussion.errors.size > 0%>">
    <%=render :partial => 'discussions/discussion_form', :locals => { :discussion => @discussion } %>
  </div>
  <ul id="discussions">
    <%=render :partial => 'discussions/discussion_topic', :collection => @discussions.sort %>
  </ul>
  <p class="discussion_warning">You must preserve your anonymity and the anonymity of the other participants. The posting of
    compensation information is unlawful.</p>
<script type="text/javascript">

function observeDiscussions() {

  /* Show/hide the new discussion form */
  $('new_discussion_link').observe('click', startNewDiscussion.curry($('new_discussion_form'), $('new_discussion_link')));
  $('new_discussion_link_cancel').observe('click', cancelNewDiscussion.curry($('new_discussion_form'), $('new_discussion_link')));
  
  <% @discussions.each do | discussion_topic | %>
  
     /* Show/hide the reply form */
    $('discussion_reply_<%=discussion_topic.id%>').observe(
      'click', 
      startNewDiscussion.curry($('discussion_reply_box_<%=discussion_topic.id%>'), $('discussion_reply_<%=discussion_topic.id%>'))
    );
    $('discussion_reply_<%=discussion_topic.id%>_cancel').observe(
      'click', 
      cancelNewDiscussion.curry($('discussion_reply_box_<%=discussion_topic.id%>'), $('discussion_reply_<%=discussion_topic.id%>'))
    );
  <% end %>  
  
}

function startNewDiscussion(form, link, e) {
  form.show();
  link.hide();
  e.stop();
}

function cancelNewDiscussion(form, link, e) {
  form.hide();
  link.show();
  e.stop();
}

</script>

<% content_for :initialize_js, "observeDiscussions();"%>
