<% title "[product name here] Invitations" %>
<% breadcrumbs() %>
<h2>[product name here] Invitations</h2>
<p>Invite other organizations to participate in [product name here]</p>
<p>
  <%=flash_messages%>
  <%=error_messages_for :invitation%>
  <%= render :partial => "external_invitations/external_invitation_form"  %>
</p>
<% if @invitations.size > 0 then %>
  <ul id="invitations">
    <% @invitations.each do |invitation| %>
      <li>
        <p><span>Invitee Name: </span><%=invitation.name%></p>
        <p><span>Invitee email: </span><%=invitation.email%></p>
        <p><span>Sent: </span><%=time_ago_in_words(invitation.created_at)%> ago</p>
      </li>
    <% end %>
  </ul>
<% end %>
