<% title "Invitations to #{@network.name}" %>
<% breadcrumbs(link_to(@network.name,network_path(@network))) %>
<h2>Invitations to <%=@network.name%></h2>
<%=flash_messages%>
<%= render :partial => "invitations/invitation_form", :locals => {
  :url => network_invitations_path(@network), 
  :done => network_path(@network)
}%> 
<% if @invitations.size > 0 then %>
  <ul id="invitations">
    <% @invitations.each do |invitation| %>
    <li><%=invitation.invitee.name%>
      <div class="network_actions"><%=link_to "Delete", network_invitation_path(@network, invitation), :method => :delete %></div>
    </li>
    <% end %>
  </ul>
<% end %>
