    <tr id="organization_<%=organization.id%>">
      <td><%=organization.name%></td>
      <td><%=organization.city%>, <%=organization.state%></td>
      <td><%=organization.industry%></td>
      <td><!--TODO: Links for actions--></td>
      <td>&nbsp;</td>
    </tr>
