<li class="entity <%=cycle("even", "odd")%>">
  <div class="organization_logo">
    <% if !organization.logo.nil? then %>
      <%=image_tag organization.logo.public_filename(:standard_thumbnail) %>
    <% else %>
      &nbsp;      
    <% end %>
  </div>
  <div class="title">
    <%=link_to organization.name, organization_path(organization.id)%>
  </div>
  <div class="description">
    <%if !organization.location.blank? then%><%=organization.location%>: <% end %>
    <%if !organization.city.blank? then%><%=organization.city%>, <% end %>
    <%if !organization.state.blank? then%><%=organization.state%><% end %>
  </div>
  <div class="organization_actions">
    <%= link_to_function "Invite to Network", "Element.toggle('organization_#{organization.id}_network_invitation')" %>
    <div id='organization_<%=organization.id%>_network_invitation' style='display:none;'>
      <% form_tag(
          {:id => "organization_#{organization.id}_network_invitation_form"}, 
          {:onsubmit => "return buildAjaxRequest(this,'network_network_id',new Template('#{networks_path}/\#{replacingID}/invitations'),'organization_#{organization.id}_network_invitation_response');"}
          ) do %>
        <%= collection_select(:network, :network_id, current_organization.owned_networks, :id, :name, {:prompt => 'Select a Network'}) %>
        <%= hidden_field_tag "email", organization.email %>
        <input type="submit" value="Invite!">  
      <% end %>
      <div id='organization_<%=organization.id%>_network_invitation_response'>
      </div>
    </div>
    <br />
    <%= link_to_function "Invite to Survey", "Element.toggle('organization_#{organization.id}_survey_invitation')" %>
    <div id='organization_<%=organization.id%>_survey_invitation' style='display:none;'>
      <% form_tag(
          {:id => "organization_#{organization.id}_survey_invitation_form"}, 
          {:onsubmit => "return buildAjaxRequest(this,'survey_survey_id',new Template('#{surveys_path}/\#{replacingID}/invitations'),'organization_#{organization.id}_survey_invitation_response');"}
        ) do %>
        <%= collection_select(:survey, :survey_id, current_organization.surveys.running, :id, :name, {:prompt => 'Select a Survey'}) %>
        <%= hidden_field_tag "email", organization.email %>
        <input type="submit" value="Invite!">  
      <% end %>
      <div id='organization_<%=organization.id%>_survey_invitation_response'>
      </div>
    </div>
  </div>
</li>
