<li class="entity <%=cycle("even", "odd")%>">
<div class="actions">
    <%= link_to_function "Invite to Network", "new Effect.toggle('organization_#{organization.id}_network_invitation', 'blind', {duration: .5});return false;" %>
    <div id='organization_<%=organization.id%>_network_invitation' style='display:none;'>
      <% form_tag(
          {:id => "organization_#{organization.id}_network_invitation_form"}, 
          {:onsubmit => "return buildAjaxInvitationRequest(this['organization_id'],this.network_organization_#{organization.id}_network_id,new Template('#{networks_path}/\#{replacingID}/invitations'),'organization_#{organization.id}_network_invitation_response');"}
          ) do %>
        <%= collection_select("network_organization_#{organization.id}", :network_id, current_organization.owned_networks, :id, :name, {:prompt => 'Select a Network'}) %>
        <%= hidden_field_tag "organization_id", organization.id %>
        <input type="submit" value="Invite!">  
      <% end %>
      <div id='organization_<%=organization.id%>_network_invitation_response'>
      </div>
    </div>
    <%= link_to_function "Invite to Survey", "new Effect.toggle('organization_#{organization.id}_survey_invitation', 'blind', {duration: .5});return false;" %>
    <div id='organization_<%=organization.id%>_survey_invitation' style='display:none;'>
      <% form_tag(
          {:id => "organization_#{organization.id}_survey_invitation_form"}, 
          {:onsubmit => "return buildAjaxInvitationRequest(this['organization_id'],this.survey_organization_#{organization.id}_survey_id,new Template('#{surveys_path}/\#{replacingID}/invitations'),'organization_#{organization.id}_survey_invitation_response');"}
          ) do %>
        <%= collection_select("survey_organization_#{organization.id}", :survey_id, current_organization.sponsored_surveys.running, :id, :job_title, {:prompt => 'Select a Survey'}) %>
        <%= hidden_field_tag "organization_id", organization.id %>
        <input type="submit" value="Invite!">  
      <% end %>
      <div id='organization_<%=organization.id%>_survey_invitation_response'>
      </div>
    </div>
  </div>
  <div class="organization_logo">
    <% if !organization.logo.nil? then %>
      <%=image_tag organization.logo.public_filename(:standard_thumbnail) %>
    <% else %>
      &nbsp;      
    <% end %>
  </div>
  <div class="title">
    <%=link_to organization.name, organization_path(organization.id)%>
  </div>
  <div class="contact">
    <span>Contact: </span><%=organization.contact_name%>
  </div>
  <div class="description">
    <%if !organization.location.blank? then%><%=organization.location%>: <% end %>
    <%if !organization.city.blank? then%><%=organization.city%>, <% end %>
    <%if !organization.state.blank? then%><%=organization.state%><% end %>
  </div>
</li>
