<li class="entity <%=cycle("even", "odd")%>">
  <% if !organization.logo.nil? then %>
    <div class="organization_logo">
      <%=image_tag organization.logo.public_filename(:standard_thumbnail) %>
    </div>
  <% end %>
  <h3><%= link_to_organization(organization) %></h3>
  <div class="description">
    <%if !organization.city.blank? then%>
      <%=organization.city%><% end %><%if !organization.city.blank? && !organization.state.blank? then%>, <% end %>
    <%if !organization.state.blank? then%><%=organization.state%><% end %>
    <%if !organization.city.blank? || !organization.state.blank? then%><br /><% end %>
    <%if defined? geodist then%><span class="label">Distance: </span><%=pluralize(@geodist,'miles')%> <br /><% end %>
    <%if !organization.contact_name.blank? then%><span class="label">Contact: </span><%=highlight(organization.contact_name,@search_text)%><br /><% end %>
    <%if !organization.industry.blank? then%>
      <span class="label">Industry: </span><%=highlight(organization.industry,@search_text)%>
    <% end %>
  </div>
  <div class="actions">
    <span class="label">Invite To: </span>
      <% form_tag do %>
        <%= collection_select("network_organization_#{organization.id}", 
          :network_id, 
          current_organization.owned_networks, 
          :id, 
          :name, 
          {:prompt => 'A Network'})
        %>
      or
        <%= collection_select("survey_organization_#{organization.id}", 
          :survey_id, 
          current_organization.sponsored_surveys.running, 
          :id, 
          :job_title, 
          {:prompt => 'A Survey'})
        %>
      <span id='organization_<%=organization.id%>_response'></span>
      <% end %>
  </div>
</li>
