<% title "Members" %>
<% highlight_tab "networks" %>
<h2>CompSage Members</h2>
<p>Explore the community. Invite members to join one of your networks or to take part in a survey you are sponsoring.</p>
<%=flash_messages%>
<h3>Search CompSage Members</h3>
<%= render :partial => "search_form" %>
<ul id="organizations">
  <%= render :partial => "organization", :collection => @organizations %>
</ul>
<%= will_paginate @organizations %>

<script type="text/javascript">

function initializeObservers() {
  <% @organizations.each do |organization| %>
  	$('<%="survey_organization_#{organization.id}_survey_id"%>').observe(
  	  'change', 
  	  sendInvitation.curry('<%=organization.id%>','<%=surveys_path%>'));
    $('<%="network_organization_#{organization.id}_network_id"%>').observe(
      'change', 
      sendInvitation.curry('<%=organization.id%>','<%=networks_path%>'));	
  <% end %>
}

</script>

<% content_for :initialize_js, "initializeObservers();"%>
