<% title @organization.name %>
<% highlight_tab "networks" %>
<h2><%=@organization.name%></h2>
<%= flash_messages %>
<dl id="organization_information">
  <% unless @organization.location.blank? %>
    <dt>Branch:</dt>
    <dd><%= @organization.location %></dd>
  <% end %>
  <% unless @organization.city.blank? && @organization.state.blank? && @organization.zip_code.blank? %>
    <dt>Region:</dt>
    <dd><%= @organization.city %> <%= @organization.state %> <%= @organization.zip_code %></dd>
  <% end %>
  <% unless @organization.contact_name.blank? %>
    <dt>Contact:</dt>
    <dd><%= @organization.contact_name %></dd>
  <% end %>
</dl>

<% if current_organization && (current_organization.sponsored_surveys.with_aasm_state(:running).any? || current_organization.owned_networks.any?) then %>
  <% if current_organization.owned_networks.any? then %>
    <% form_tag root_path do %>
      <label for="network_id">Invite to a Network</label>
      <div id="network_error_content" style="display: none;"></div>
      <%= hidden_field :organization, :id, :value => @organization.id %>
      <%= collection_select(:network, 
          :id, 
          current_organization.owned_networks, 
          :id, 
          :name,
          :prompt => "Select a network...") %>
      <input id="network_invitation_submit" type="submit" value="Send" />
      <span id="network_success" style="display: none;">Invitation Sent</span>
      <%= image_tag 'load_indicator.gif', :class => 'load_indicator', :id => 'network_load_indicator', :style => 'display:none;' %>
    <% end %>
  <% end %>
  
  <% if current_organization.sponsored_surveys.with_aasm_state(:running).any? then %>
    <% form_tag root_path do %>
      <label for="survey_id">Invite to a Survey</label>
      <div id="survey_error_content" style="display: none;"></div>
      <%= hidden_field :organization, :id, :value => @organization.id %>
      <%= collection_select(:survey, 
          :id, 
          current_organization.sponsored_surveys.with_aasm_state(:running), 
          :id, 
          :job_title,
          :prompt => 'Select a survey...') %>
      <input id="survey_invitation_submit" type="submit" value="Send" />
      <span id="survey_success" style="display: none;">Invitation Sent</span>
      <%= image_tag 'load_indicator.gif', :class => 'load_indicator', :id => 'survey_load_indicator', :style => 'display:none;' %>
    <% end %>
  <% end %>
    
  <script type="text/javascript">

    function initializeObservers() {
      <% if current_organization.owned_networks.any? then %>
        $('network_invitation_submit').observe('click', addNetworkInvitation);
        hideNetworkNotifications();
        clearNetworkForm();
      <% end %>
      <% if current_organization.sponsored_surveys.with_aasm_state(:running).any? then %>
        $('survey_invitation_submit').observe('click', addSurveyInvitation);
        hideSurveyNotifications();
        clearSurveyForm();
      <% end %>
    }

    function addSurveyInvitation(e) {
      if(e)
        e.stop();
      hideSurveyNotifications();
      new Ajax.Request('<%=invite_to_survey_organization_path(@organization.id)%>', {
        'method': 'post',
        'parameters': {'survey_id':$('survey_id').value},
        'onCreate': function() {$('survey_load_indicator').show();},
        'onComplete': function() {$('survey_load_indicator').hide();}
      });
    }

    function addNetworkInvitation(e) {
      if(e)
        e.stop();
      hideNetworkNotifications();
      new Ajax.Request('<%=invite_to_network_organization_path(@organization.id)%>', {
        'method': 'post',
        'parameters': {'network_id':$('network_id').value},
        'onCreate': function() {$('network_load_indicator').show();},
        'onComplete': function() {$('network_load_indicator').hide();}
      });
    }

    function clearSurveyForm() {
      $('survey_id').clear();
    }

    function clearNetworkForm() {
      $('network_id').clear();
    }

    function showSurveySuccessMessage() {
       $('survey_success').show();
    }

    function showNetworkSuccessMessage() {
       $('network_success').show();
    }

    function showSurveyErrorMessage() {
       $('survey_error_content').show();
    }

    function showNetworkErrorMessage() {
       $('network_error_content').show();
    }

    function hideNetworkNotifications(){
      $('network_error_content').update('');
      $('network_error_content').hide();
      $('network_success').hide();
    }

    function hideSurveyNotifications(){
      $('survey_error_content').update('');
      $('survey_error_content').hide();
      $('survey_success').hide();
    }
    
  </script>  
  <% content_for :initialize_js, "initializeObservers();"%>

<% end %>
<br />
<%= link_to 'Go Back', request.env['HTTP_REFERER'] %>
