<% title @organization.name %>
<% breadcrumbs(link_to("Members",organizations_path)) %>
<% highlight_tab "members" %>
<h2><%=@organization.name%></h2>
<%=flash_messages%>
<% if !@organization.logo.nil? then %>
  <p><%=image_tag @organization.logo.public_filename %></p>
<% end %>
<div class="organization_actions">
    <span class="label">Invite To: </span>
  <% form_tag do 
  %>
    <%= collection_select("network_organization_#{@organization.id}", 
      :network_id, 
      current_organization.owned_networks, 
      :id, 
      :name, 
      {:prompt => 'A Network'})
    %>
  or
    <%= collection_select("survey_organization_#{@organization.id}", 
      :survey_id, 
      current_organization.sponsored_surveys.running, 
      :id, 
      :job_title, 
      {:prompt => 'A Survey'})
    %>
  <span id='organization_<%=@organization.id%>_response'></span>
  <% end %>
</div>
<p><span class="label">Location Name: </span><%=@organization.location%></p>
<p><span class="label">City: </span><%=@organization.city%></p>
<p><span class="label">State: </span><%=@organization.state%></p>
<p><span class="label">Zip Code: </span><%=@organization.zip_code%></p>
<p><span class="label">Contact Name: </span><%=@organization.contact_name%></p>
<p><span class="label">Industry: </span><%=@organization.industry%></p>

<script type="text/javascript">

function initializeObservers() {
	$('<%="survey_organization_#{@organization.id}_survey_id"%>').observe(
	  'change', 
	  sendInvitation.curry('<%=@organization.id%>','<%=surveys_path%>'));
  $('<%="network_organization_#{@organization.id}_network_id"%>').observe(
    'change', 
    sendInvitation.curry('<%=@organization.id%>','<%=networks_path%>'));	
}

</script>

<% content_for :initialize_js, "initializeObservers();"%>


