<h2><%=@organization.name%></h2>
<p><label>Location: </label><%=@organization.location%></p>
<p><label>City: </label><%=@organization.city%></p>
<p><label>State: </label><%=@organization.state%></p>
<p><label>Contact Name: </label><%=@organization.contact_name%></p>
<!-- TODO links for inviting organization to network/survey-->

