<% title @organization.name %>
<% breadcrumbs(link_to("Members",organizations_path)) %>
<% highlight_tab "members" %>
<h2><%=@organization.name%></h2>
<%=flash_messages%>
<% if !@organization.logo.nil? then %>
  <p><%=image_tag @organization.logo.public_filename %></p>
<% end %>
<div class="organization_actions">
  <%= link_to_function "Invite to Network", "new Effect.toggle('organization_#{@organization.id}_network_invitation', 'blind', {duration: .5});return false;" %>
  <div id='organization_<%=@organization.id%>_network_invitation' style='display:none;'>
    <% form_tag(
        {:id => "organization_#{@organization.id}_network_invitation_form"}, 
        {:onsubmit => "return buildAjaxInvitationRequest(this['organization_id'],this.network_organization_#{@organization.id}_network_id,new Template('#{networks_path}/\#{replacingID}/invitations'),'organization_#{@organization.id}_network_invitation_response');"}
        ) do %>
      <%= collection_select("network_organization_#{@organization.id}", :network_id, current_organization.owned_networks, :id, :name, {:prompt => 'Select a Network'}) %>
      <%= hidden_field_tag "organization_id", @organization.id %>
      <input type="submit" value="Invite!">  
    <% end %>
    <div id='organization_<%=@organization.id%>_network_invitation_response'>
    </div>
  </div>
  <br />
  <%= link_to_function "Invite to Survey", "new Effect.toggle('organization_#{@organization.id}_survey_invitation', 'blind', {duration: .5});return false;" %>
  <div id='organization_<%=@organization.id%>_survey_invitation' style='display:none;'>
    <% form_tag(
        {:id => "organization_#{@organization.id}_survey_invitation_form"}, 
        {:onsubmit => "return buildAjaxInvitationRequest(this['organization_id'],this.survey_organization_#{@organization.id}_survey_id,new Template('#{surveys_path}/\#{replacingID}/invitations'),'organization_#{@organization.id}_survey_invitation_response');"}
        ) do %>
      <%= collection_select("survey_organization_#{@organization.id}", :survey_id, current_organization.sponsored_surveys.running, :id, :job_title, {:prompt => 'Select a Survey'}) %>
      <%= hidden_field_tag "organization_id", @organization.id %>
      <input type="submit" value="Invite!">  
    <% end %>
    <div id='organization_<%=@organization.id%>_survey_invitation_response'>
    </div>
  </div>
</div>
<p><span class="label">Location: </span><%=@organization.location%></p>
<p><span class="label">City: </span><%=@organization.city%></p>
<p><span class="label">State: </span><%=@organization.state%></p>
<p><span class="label">Contact Name: </span><%=@organization.contact_name%></p>
<p><span class="label">Industry: </span><%=@organization.industry%></p>



