<% title @organization.name %>
<% highlight_tab "networks" %>
<h2><%=@organization.name%></h2>
<%= flash_messages %>
<% if !@organization.logo.nil? then %>
  <p><%=image_tag @organization.logo.public_filename %></p>
<% end %>
<dl id="organization_information">
  <% unless @organization.location.blank? %>
    <dt>Branch:</dt>
    <dd><%= @organization.location %></dd>
  <% end %>
  <dt>Region:</dt>
  <dd><%= @organization.city %> <%= @organization.state %> <%= @organization.zip_code %></dd>
  <dt>Contact:</dt>
  <dd><%= @organization.contact_name %></dd>
  <% unless @organization.industry.blank? then %> 
    <dt>Industry:</dt>
    <dd><%= @organization.industry %></dd>
  <% end %>
</dl>

<% if current_organization && (current_organization.sponsored_surveys.running.any? || current_organization.owned_networks.any?) then %>
  <% if current_organization.owned_networks.any? then %>
    <% form_tag invitations_path do %>
      <label>Invite to a Network</label>
      <div id="network_success" class="hidden">Invitation Sent</div>
      <div id="network_error_content"></div>
      <%= hidden_field :organization, :id, :value => @organization.id %>
      <%= collection_select(:network, 
          :id, 
          current_organization.owned_networks, 
          :id, 
          :name,
          :prompt => "Select a network...") %>
      <input id="network_invitation_submit" type="submit" value="Send" />
      <%= image_tag 'load_indicator.gif', :class => 'load_indicator', :id => 'network_load_indicator', :style => 'display:none;' %>
    <% end %>
  <% end %>
  
  <% if current_organization.sponsored_surveys.running.any? then %>
    <% form_tag invitations_path do %>
      <label>Invite to a Survey</label>
      <div id="survey_success" class="hidden">Invitation Sent</div>
      <div id="survey_error_content"></div>
      <%= hidden_field :organization, :id, :value => @organization.id %>
      <%= collection_select(:survey, 
          :id, 
          current_organization.sponsored_surveys.running, 
          :id, 
          :job_title,
          :prompt => 'Select a survey...') %>
      <input id="survey_invitation_submit" type="submit" value="Send" />
      <%= image_tag 'load_indicator.gif', :class => 'load_indicator', :id => 'survey_load_indicator', :style => 'display:none;' %>
    <% end %>
  <% end %>
<script type="text/javascript">
function initializeObservers() {
  $('network_invitation_submit').observe('click', addNetworkInvitation);
  $('survey_invitation_submit').observe('click', addSurveyInvitation);
}

function addSurveyInvitation(e) {
  if(e)
    e.stop();
  hideNotifications();
  new Ajax.Request('<%=invite_to_survey_organization_path(@organization.id)%>', {
    'method': 'post',
    'parameters': {'survey_id':$('survey_id').value},
    'onCreate': function() {$('survey_load_indicator').show();},
    'onComplete': function() {$('survey_load_indicator').hide();}
  });
}

function addNetworkInvitation(e) {
  if(e)
    e.stop();
  hideNotifications();
  new Ajax.Request('<%=invite_to_network_organization_path(@organization.id)%>', {
    'method': 'post',
    'parameters': {'network_id':$('network_id').value},
    'onCreate': function() {$('network_load_indicator').show();},
    'onComplete': function() {$('network_load_indicator').hide();}
  });
}

function showSurveySuccessMessage() {
   $('survey_success').removeClassName('hidden');
}

function showNetworkSuccessMessage() {
   $('network_success').removeClassName('hidden');
}

function hideNotifications(){
  $('network_error_content').update('');
  $('survey_error_content').update('');
  $('survey_success').addClassName('hidden');
  $('network_success').addClassName('hidden');
}
</script>
<% content_for :initialize_js, "initializeObservers();"%>
<% end %>
<br />
<%= link_to 'Go Back', request.env['HTTP_REFERER'] %>
