<% title @organization.name %>
<% highlight_tab "networks" %>
<h2><%=@organization.name%></h2>
<%= link_to 'Go Back', request.env['HTTP_REFERER'] %>
<%= flash_messages %>
<% if !@organization.logo.nil? then %>
  <p><%=image_tag @organization.logo.public_filename %></p>
<% end %>
<dl id="organization_information">
  <% unless @organization.location.blank? %>
    <dt>Branch:</dt>
    <dd><%= @organization.location %></dd>
  <% end %>
  <dt>Region:</dt>
  <dd><%= @organization.city %> <%= @organization.state %> <%= @organization.zip_code %></dd>
  <dt>Contact:</dt>
  <dd><%= @organization.contact_name %></dd>
  <% unless @organization.industry.blank? then %> 
    <dt>Industry:</dt>
    <dd><%= @organization.industry %></dd>
  <% end %>
</dl>

<% if current_organization.sponsored_surveys.running.any? || current_organization.owned_networks.any? then %>
  <% if current_organization.owned_networks.any? then %>
    <% form_tag invitations_path do %>
      <label>Invite to a Network</label>
      <div id="network_success" class="hidden">Invitation Sent</div>
      <%= hidden_field :organization, :id, :value => @organization.id %>
      <%= collection_select(:network, 
          :id, 
          current_organization.owned_networks, 
          :id, 
          :name) %>
      <input id="network_invitation_submit" type="submit" onclick="return false;" value="Send Network Invitation" />
    <% end %>
  <% end %>
  
  <% if current_organization.sponsored_surveys.running.any? then %>
    <% form_tag invitations_path do %>
      <label>Invite to a Survey</label>
      <div id="survey_success" class="hidden">Invitation Sent</div>
      <%= error_messages_for :invitation %>
      <%= hidden_field :organization, :id, :value => @organization.id %>
      <%= collection_select(:survey, 
          :id, 
          current_organization.sponsored_surveys.running, 
          :id, 
          :job_title) %>
      <input id="survey_invitation_submit" type="submit" onclick="return false;" value="Send Survey Invitation" />
    <% end %>
  <% end %>
<script type="text/javascript">
function initializeObservers() {
	 $('network_invitation_submit').observe('click', addNetworkInvitation);
	 $('survey_invitation_submit').observe('click', addSurveyInvitation);
}

function addSurveyInvitation() {
  $('network_success').addClassName('hidden');
  new Ajax.Request('<%= surveys_path %>/' + $('survey_id').value + '/invitations', {
    'method': 'post',
    'parameters': {'organization_id':<%=@organization.id %>},
    onFailure: function(){ alert('Something went wrong...') }
  });
  $('network_success').removeClassName('hidden');
}

function addNetworkInvitation() {
  $('network_success').addClassName('hidden');
  new Ajax.Request('<%= networks_path %>/' + $('network_id').value + '/invitations', {
    'method': 'post',
    'parameters': {'organization_id':<%=@organization.id %>}
  });
  $('network_success').removeClassName('hidden');
}
</script>
<% content_for :initialize_js, "initializeObservers();"%>
<% end %>
