<h2><%=@organization.name%></h2>
<%=flash_messages%>
<!-- TODO links for inviting organization to network/survey-->
<p><img src="<%=@organization.image_thumbnail%>" alt="<%=@organization.name%> logo"/></p>
<p><span class="label">Location: </span><%=@organization.location%></p>
<p><span class="label">City: </span><%=@organization.city%></p>
<p><span class="label">State: </span><%=@organization.state%></p>
<p><span class="label">Contact Name: </span><%=@organization.contact_name%></p>
<p><span class="label">Industry: </span><%=@organization.industry%></p>



