<% title @organization.name %>
<% highlight_tab "networks" %>
<h2><%=@organization.name%></h2>
<%= flash_messages %>
<% if !@organization.logo.nil? then %>
  <p><%=image_tag @organization.logo.public_filename %></p>
<% end %>
<dl id="organization_information">
  <% unless @organization.location.blank? %>
    <dt>Branch:</dt>
    <dd><%= @organization.location %></dd>
  <% end %>
  <dt>Region:</dt>
  <dd><%= @organization.city %> <%= @organization.state %> <%= @organization.zip_code %></dd>
  <dt>Contact:</dt>
  <dd><%= @organization.contact_name %></dd>
  <dt>Industry:</dt>
  <dd><%= @organization.industry %></dd>
</dl>

<% if current_organization.sponsored_surveys.running.any? || current_organization.owned_networks.any? then %>
  <% if current_organization.owned_networks.any? then %>
    <% form_tag invitations_path do %>
      <label>Invite to a Network</label>
      <%= hidden_field :organization, :id, :value => @organization.id %>
      <%= collection_select(:network, 
          :id, 
          current_organization.owned_networks, 
          :id, 
          :name) %>
      <%= submit_tag "Send Network Invitation" %>
    <% end %>
  <% end %>
  
  <% if current_organization.sponsored_surveys.running.any? then %>
    <% form_tag invitations_path do %>
      <label>Invite to a Survey</label>
      <%= hidden_field :organization, :id, :value => @organization.id %>
      <%= collection_select(:survey, 
          :id, 
          current_organization.sponsored_surveys.running, 
          :id, 
          :job_title) %>
      <%= submit_tag "Send Survey Invitation" %>
    <% end %>
  <% end %>
<% end %>
