<% title "Association Administration - Sign In" %>

<p>You must login with with the email associated with this association. It is not a standard CompSage account.
   If you do now know the email or forgot your password for the association, please 
   <%= link_to "contact us.", contact_path %></p>
<div style="display:none;">Need this div for flash notices in IE6</div>
<%=flash_messages%>
<% form_tag association_session_path(@form_options) do %>
  <label for="email">Email</label>
  <%= text_field_tag 'email', @login, :size => 25 %>
  <label for="password">Password</label>
  <%= password_field_tag 'password', '', :size => 10 %>
  <div class="submit">
    <%= submit_tag 'Log in' %>
  </div>
<% end %>
