<% percentiles = question.responses.percentiles(:numerical_response, 25, 50, 75) %>
<% p percentiles.inspect %>
<div>
	<div class="report_question"><%=question.text%>:</div>
	<dl>
		<dt>Average:</dt>
		<dd><%=question.responses.average(:numerical_response)%></dd>
		<dt>25th Percentile</dt>
		<dd><%=percentiles[0]%></dd>
		<dt>Median:</dt>
		<dd><%=percentiles[1]%></dt>
		<dt>75th Percentile</dt>
		<dd><%=percentiles[2]%></dd>
	</dl>
</div>