<% percentiles = question.send(@responses_method).percentiles(:numerical_response, 25, 50, 75) %>
<div class="report_item">
  <h3><%= question.text %></h3>
  <dl>
    <dt>Average</dt>
    <dd><%= number_with_precision(question.send(@responses_method).average(:numerical_response))%></dd>
    <dt>25th Percentile</dt>
    <dd><%= number_with_precision(percentiles[0]) %></dd>
    <dt>Median</dt>
    <dd><%= number_with_precision(percentiles[1]) %></dd>
    <dt>75th Percentile</dt>
    <dd><%= number_with_precision(percentiles[2]) %></dd>
  </dl>
  <%= render :partial => "qualifications", :object => question.send(@qualifications_method), :locals => {:question => question} %>
</div>
