<%
	total_responses = question.send(@responses_method).size
%>
<div>
	<div class="report_question"><%=question.text%>:</div>
	<dl>
		<% question.options.each_with_index do |option, index| %>
			<dt><%=option%></dt>
			<dd><%=question.send(@grouped_responses_method)[index].nil? ? 0 : question.send(@grouped_responses_method)[index].size%> out of <%=total_responses%></dd>
		<% end %>
	</dl>
</div>

<% if question.options.size == 2 then %>
	<%=chart('pie', url_for(chart_survey_report_path(:question_id => question.id)), :dimensions => 3)%>
<% else %>
	<%=chart('bar', url_for(chart_survey_report_path(:question_id => question.id)))%>
<% end %>
