<% percentiles = question.responses.percentiles(:raw_numerical_response, 25, 50, 75) 
   average = question.responses.average(:numerical_response).to_i / 100.0
%>
<div class="report_item">
  <h3><%= question.text %></h3>
  <dl class="<%=question.response_type%><% if format == "Hourly"%> hidden<% end %>">
    <dt>Average</dt>
    <dd><%= number_to_currency(average)%></dd>
    <dt>25th Percentile</dt>
    <dd><%= number_to_currency(percentiles[0].to_i / 100.0) %></dd>
    <dt>Median</dt>
    <dd><%= number_to_currency(percentiles[1].to_i / 100.0) %></dd>
    <dt>75th Percentile</dt>
    <dd><%= number_to_currency(percentiles[2].to_i / 100.0) %></dd>
  </dl>
  <dl class="<%=question.response_type%> <% if format == "Annually"%> hidden<% end %>">
    <dt>Average</dt>
	<dd><%= number_to_currency(WageResponse.units.convert(average,{:from => "Annually", :to => "Hourly"}))%></dd>
    <dt>25th Percentile</dt>
	<dd><%= number_to_currency(WageResponse.units.convert(percentiles[0].to_i / 100.0,{:from => "Annually", :to => "Hourly"})) %></dd>
    <dt>Median</dt>
	<dd><%= number_to_currency(WageResponse.units.convert(percentiles[1].to_i / 100.0,{:from => "Annually", :to => "Hourly"})) %></dd>
    <dt>75th Percentile</dt>
	<dd><%= number_to_currency(WageResponse.units.convert(percentiles[2].to_i / 100.0,{:from => "Annually", :to => "Hourly"})) %></dd>
  </dl>
  <%= render :partial => "comments", :object => question.comments, :locals => {:question => question} %>
</div>
