<% title("Report for #{@survey.job_title}") %>
<% highlight_tab("surveys") %>
<div id="report_download_options">
  <span class="print_link">Download:</span>
  <%= link_to(image_tag("pdficon_large.gif"), survey_report_path(@survey, :format => "pdf", :wage_format => @format ), :class => "print_link") %>
  <%= link_to("Pdf", survey_report_path(@survey, :format => "pdf", :wage_format => @format ), :class => "print_link") %>&nbsp;&nbsp;
  <%= link_to(image_tag("OfficeWord.png", :alt => "Download Word Document"),
              survey_report_path(@survey, :format => "doc", :wage_format => @format),
              :class => 'print_link') %>
  <%= link_to("Word",
              survey_report_path(@survey, :format => "doc", :wage_format => @format),
              :id => 'download_link', :class => 'print_link') %>&nbsp;&nbsp;
  <%= link_to(image_tag("excel_icon.png", :alt => "Download Excel Document"),
              survey_report_path(@survey, :format => "xls", :wage_format => @format ),
              :alt => "Download PDF Document", :class => 'print_link') %>
  <%= link_to("Excel",
              survey_report_path(@survey, :format => "xls", :wage_format => @format), :class => 'print_link') %>
  <br />
  <div style="margin-top: 5px;">
    <%= link_to_function(image_tag('printer_icon.png'), "javascript:print()", :id => "print_link", :class => 'print_link') %>
    <%= link_to_function('Print', "javascript:print()", :id => "print_link", :class => 'print_link') %>
  </div>              
</div>
<h2><%=@survey.job_title%></h2>
<h4>Job Description</h4>
<div class="description_box"><%=link_and_format(@survey.description)%></div>
<div><%= @survey.participations.count %> participants out of <%= @survey.all_invitations(true).size %> firms on the
<a href="#" id="invitation_list_link">invitation list</a>.</div>
<div id="invitation_section_container">
  <div id="invitation_section" class="hidden">
    <h4>Invitation List</h4>
    <ul class="invitations">
        <% @invitations.each do |invitation| %>
          <li>
            <%if invitation.is_a?(SurveyInvitation) then%>
              <%= link_to_organization(invitation.invitee) %>
            <%else%>      
              <%=invitation.organization_name%>
            <%end%>          
          </li>
        <% end %>
      </ul>
    <%= link_to "Close", '#', :id => "hide_invitation_list_link", :class => "print_link" %>
  </div>
</div>
<div class="report_date">
  Completed on <%= @survey.end_date.to_date.to_s(:long_ordinal) %><br />
  Effective date <%= @survey.effective_date.to_s(:long_ordinal) %>
</div>
<h3>Report Data</h3>
<div id="formatting_section">
  Show wages in <%= link_to_function @format == "Hourly" ? "Annual Format" : "Hourly Format", 'toggleWageFormatAndLink();', :id => "wage_format_link"%>
</div>

<%@survey.questions.each do |question| %>
  <% if question.adequate_responses? then %>
    <%=render :partial => question.report_type, :locals => {:question => question, :survey => @survey, :format => @format}%>
  <% else %>
    <div class="report_item report_item_suppressed">
      <h3><%=question.text%></h3>
      <p>Results not available due to insufficient responses.</p>
    </div>
  <% end %>
<% end %>
<% if logged_in_from_survey_invitation? then %>
  <p>If you want to create your own surveys and participate in other surveys,
    <%= link_to "sign up now!", new_account_path %></p>
<% end %>

<div id="suspect_results">
  <p><%= link_to "Report Incorrect Data", '#', :id => "suspect_result_form_link" %></p>
  <div id ="suspect_report_form" class="hidden">
    <div id="success_notification" class="hidden"><span id="success_report_message">Successfully Reported!</span></div>
    <label for="comment">Comment:</label>
    <textarea id="comment"></textarea>
    <p><input id="suspect_result_submit" type="button" value="Report" %> or
    <%= link_to_function "Cancel", "$('suspect_report_form').toggleClassName('hidden'); return false;" %></p>
  </div>
</div>

<% content_for :initialize_js, "observeInvitationList();" %>
<script type="text/javascript">

  function observeInvitationList() {
    $('invitation_list_link').observe('click', function(e) {
      e.preventDefault();
      $('invitation_section').toggleClassName('hidden');
      $('invitation_section').highlight();
      return false;
    });
    $('hide_invitation_list_link').observe('click', function(e) {
      e.preventDefault();
      $('invitation_section').toggleClassName('hidden');
      $('invitation_section').highlight();
      return false;
    });

  $('suspect_result_form_link').observe('click', function(e) {
      e.preventDefault();
      $('suspect_report_form').toggleClassName('hidden');
      return false;
    });

    $('suspect_result_submit').observe('click', submitSuspectResults);

    $$('.show_comments').each(function(elem) {
      elem.observe('click', function(e) {
        e.preventDefault();
        var question_id = e.target.href.match(/question_(\d+)_comments/)[1];
        $('question_' + question_id + '_comments').toggleClassName('hidden');
        $('question_' + question_id + '_comments').highlight();
        return false;
      })
    })
  }


  function submitSuspectResults() {
  new Ajax.Request('<%=suspect_survey_report_path%>', {
    'method': 'post',
    'parameters': 'comment=' + $('comment').value,
    'onSuccess': function(transport) {
      flashSuccess();
    }
  });
  return false; 
  }

  function flashSuccess(){
  $('success_notification').toggleClassName('hidden');
  $('success_report_message').highlight();
  
  setTimeout( "hideForm();", 2000);
  return false;
  }

  function hideForm(){
  $('success_notification').toggleClassName('hidden');
  $('suspect_report_form').toggleClassName('hidden');
  return false;
}

function toggleWageFormatAndLink(){
  //update format links
  var download_links = $$('a.print_link');
  if(download_links.first().href.include("Hourly")){
    download_links.each(function(link) {
      link.href = link.href.replace("Hourly", "Annually");
    });
    $('wage_format_link').innerHTML = "Hourly Format";
  } else {
    download_links.each(function(link) {
      link.href = link.href.replace("Annually", "Hourly");
    });
    $('wage_format_link').innerHTML = "Annual Format"
  }
  //then update all of the values
  $$('dl.WageResponse', 'dl.BaseWageResponse').each(function(elem) {
    items = elem.toggleClassName('hidden');
    });
  return false;
}
</script>
