<% title("Report for #{@survey.job_title}") %>
<% highlight_tab logged_in? ? "surveys" : "survey" %>
<h2>Report on <%=@survey.job_title%></h2>
<h4>Job Description</h4>
<div class="description_box"><%=auto_link(@survey.description, :html => { :target => '_blank' })%></div>
<p><%= link_to_function "Show Invitation List (#{@invitations.size} invitees)", "new Effect.toggle('invitation_section', 'blind', {duration: .5});return false;" %></p>
<div id="invitation_section" style="display:none;">
  <ul id="invitations">
      <% @invitations.each do |invitation| %>
        <li>
          <%if invitation.is_a?(SurveyInvitation) then%>
            <%= link_to_organization(invitation.invitee) %>
          <%else%>      
            <%=invitation.organization_name%> (<%=invitation.email%>)
          <%end%>          
        </li>
      <% end %>
    </ul>
</div>
<%@survey.questions.each do |question| %>
  <% if question.send(@adequate_responses_method) then %>
	  <%=render :partial => question.question_type, :locals => {:question => question, :survey => @survey}%>
	<% else %>
	  <div class="report_item report_item_suppressed">
      <h3><%=question.text%></h3>
    	<p>Data hidden due to insufficient responses.</p>
    </div>
	<% end %>
<% end %>