<% title("Report for #{@survey.job_title}") %>
<% highlight_tab("surveys") %>
<%if !@printer_friendly then %> 
  <%= link_to 'Printer Friendly', survey_report_path(@survey, :printer_friendly => 'true'), :class => 'printer_friendly' %>
<%else%>
  <%= link_to 'Back', survey_report_path(@survey) %>
<%end%>
<h2>Report on <%=@survey.job_title%></h2>
<%if logged_in_from_survey_invitation? then%>
  <div class="top_join_link"><%= link_to "Sign Up for CompSage", new_account_path %></div>
<% end %>
<h4>Job Description</h4>
<div class="description_box"><%=link_and_format(@survey.description)%></div>
<%if !@printer_friendly then %>
  <p><%= link_to_function "Show Invitation List (#{@invitations.size} invitees)", "new Effect.toggle('invitation_section', 'blind', {duration: .5});return false;" %></p>
<%else%>
  <h4>Invitation List</h4>
<%end%>
<div id="invitation_section" style='<%=!@printer_friendly ? "display:none;" : "" %>'>
  <ul id="invitations">
      <% @invitations.each do |invitation| %>
        <li>
          <%if invitation.is_a?(SurveyInvitation) then%>
            <%= link_to_organization(invitation.invitee) %>
          <%else%>      
            <%=invitation.organization_name%> (<%=invitation.email%>)
          <%end%>          
        </li>
      <% end %>
    </ul>
</div>
<%@survey.questions.each do |question| %>
  <% if question.send(@adequate_responses_method) then %>
	  <%=render :partial => question.question_type, :locals => {:question => question, :survey => @survey}%>
	<% else %>
	  <div class="report_item report_item_suppressed">
      <h3><%=question.text%></h3>
    	<p>Data hidden due to insufficient responses.</p>
    </div>
  <% end %>
<% end %>
<% if logged_in_from_survey_invitation? then %>
  <p>If you want to start creating your own surveys, and participating in other surveys of interest,
    <%= link_to "sign up now!", signup_path %></p>
<% end %>
