<% title("Report for #{@survey.job_title}") %>
<% highlight_tab("surveys") %>
<%= link_to_function("Print this Report", "javascript:print()", :class => 'print_link') %>
<h2>Report on <%=@survey.job_title%></h2>
<%if logged_in_from_survey_invitation? then%>
  <div class="top_join_link"><%= link_to "Sign Up for CompSage", new_account_path %></div>
<% end %>
<h4>Job Description</h4>
<div class="description_box"><%=link_and_format(@survey.description)%></div>
<%= link_to "Invitation List", '#', :id => "invitation_list_link" %>
<div id="invitation_section" class="hidden">
  <ul id="invitations">
      <% @invitations.each do |invitation| %>
        <li>
          <%if invitation.is_a?(SurveyInvitation) then%>
            <%= link_to_organization(invitation.invitee) %>
          <%else%>      
            <%=invitation.organization_name%> (<%=invitation.email%>)
          <%end%>          
        </li>
      <% end %>
    </ul>
</div>

<%@survey.questions.each do |question| %>
  <% if question.send(@adequate_responses_method) then %>
    <%=render :partial => question.question_type, :locals => {:question => question, :survey => @survey}%>
  <% else %>
    <div class="report_item report_item_suppressed">
      <h3><%=question.text%></h3>
      <p>Data hidden due to insufficient responses.</p>
    </div>
  <% end %>
<% end %>
<% if logged_in_from_survey_invitation? then %>
  <p>If you want to start creating your own surveys, and participating in other surveys of interest,
    <%= link_to "sign up now!", new_account_path %></p>
<% end %>

<% content_for :initialize_js, "observeInvitationList()" %>
<script type="text/javascript">
  function observeInvitationList() {
    $('invitation_list_link').observe('click', function(e) {
      e.preventDefault();
      $('invitation_section').toggleClassName('hidden');
      $('invitation_section').highlight();
      return false;
    });

    $$('.show_comments').each(function(elem) {
      elem.observe('click', function(e) {
        e.preventDefault();
        var question_id = e.target.href.match(/question_(\d+)_qualifications/)[1];
        $('question_' + question_id + '_qualifications').toggleClassName('hidden');
        $('question_' + question_id + '_qualifications').highlight();
        return false;
      })
    })
  }
</script>
