<% title("Report for #{@survey.job_title}") %>
<% highlight_tab("surveys") %>
<h2>Report on <%=@survey.job_title%></h2>
<%if logged_in_from_survey_invitation? then%>
  <div class="top_join_link"><%= link_to "Interested? Sign Up Now!", signup_path %></div>
<% end %>
<h4>Job Description</h4>
<div class="description_box"><%=link_and_format(@survey.description)%></div>
<p><%= link_to_function "Show Invitation List (#{@invitations.size} invitees)", "new Effect.toggle('invitation_section', 'blind', {duration: .5});return false;" %></p>
<div id="invitation_section" style="display:none;">
  <ul id="invitations">
      <% @invitations.each do |invitation| %>
        <li>
          <%if invitation.is_a?(SurveyInvitation) then%>
            <%= link_to_organization(invitation.invitee) %>
          <%else%>      
            <%=invitation.organization_name%> (<%=invitation.email%>)
          <%end%>          
        </li>
      <% end %>
    </ul>
</div>
<%@survey.questions.each do |question| %>
  <% if question.send(@adequate_responses_method) then %>
	  <%=render :partial => question.question_type, :locals => {:question => question, :survey => @survey}%>
	<% else %>
	  <div class="report_item report_item_suppressed">
      <h3><%=question.text%></h3>
    	<p>Data hidden due to insufficient responses.</p>
    </div>
	<% end %>
<% end %>
  <%if logged_in_from_survey_invitation? then%>
  <div>
	<h4>Like what you see?</h4>
    <p>If you like the results you see here, and are interested in creating your own surveys, networks, and other benefits of membership, <%= link_to "sign up now!", signup_path %>
    </p>
  </div>
  <% end %>
