<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>CompSage: <%=yield :title%></title>
  <%=javascript_include_merged :base %>
  <%= stylesheet_link_tag 'admin' %>
	<script type="text/javascript">
    document.observe("dom:loaded", function() {      
  		<%=yield(:initialize_js)%>
    });	
	</script>
</head>
<body>
	<%=yield %>
</body>
</html>
