<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>CompSage: <%=yield :title%></title>
  <%=stylesheet_link_merged :base, :media => :screen %>
  <%=stylesheet_link_merged :printer, :media => :print %>
  <%=javascript_include_merged :base %>
  <script type="text/javascript">
    document.observe("dom:loaded", function() {      
      <%=yield(:initialize_js)%>
    }); 
  </script>
</head>
<body>
  <div id="header">
    <a href="/"><img src="/images/shawarma.gif" alt="CompSage"/></a>
    <div id="account_settings">
      <% if logged_in_as_association_owner? then %>
        <%=link_to "Log Out", association_session_path, :method => :delete, :name => 'Log Out'%>
      <% end %>
    </div>
    <ul id="nav" class="<%=yield :highlighted_tab %>_nav">
      <li id="members_nav"><%=link_to "Members", association_members_path %></li>
      <li id="settings_nav"><%=link_to "Settings", association_settings_path %></li>
      <li id="surveys"><%=link_to "Member Surveys", association_surveys_path %></li>
    </ul>
  </div>
  <div id="container">
    <%=yield(:sidebar)%>
    <div id="main_content" class="<%=yield(:sidebar) ? 'with_side_bar' : ''%>">
      <%=yield %>
    </div>
    <br id="end_break" />
  </div>
  <div id="container_cap">&nbsp;</div>
  <div id="footer">
    <ul class="links">
      <li><%= link_to "Contact", home_path('contact') %></li>
      <li><%= link_to "Privacy", home_path('privacy') %></li>
      <li><%= link_to "About", home_path('about') %></li>
      <li><%= link_to "Terms of Use", home_path('terms') %></li>
    </ul>
    <div id="copyright">Copyright <a href="http://www.huminsight.com">HumInsight, Inc.</a></div>
  </div>
</body>
</html>
