<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>CompSage: <%=yield :title%></title>
  <%=stylesheet_link_merged :base, :media => :screen %>
  <%=stylesheet_link_merged :printer, :media => :print %>
  <%=javascript_include_merged :base %>
	<script type="text/javascript">
    document.observe("dom:loaded", function() {      
  		<%=yield(:initialize_js)%>
    });	
	</script>
</head>
<body>
  <div id="header" class="<%= yield :page_name%>">
    <a href="<%=root_path()%>"><img src="/images/shawarma<%=yield :page_name%>.gif" alt="CompSage"/></a>  
		<ul id="nav" class="<%=yield :highlighted_tab %>_nav">
      <li id="home"><%= link_to "Home", root_path() %></li>
      <% if current_survey_invitation then %>
        <li id="surveys"><%= link_to "Survey", survey_path(current_survey_invitation.survey_id) %></li>
      <% end %>
      <% unless current_subdomain then %>
        <li id="join">
            <%= link_to "Sign Up", new_account_path() %>
        </li>
      <% end %>
		</ul> 
	</div>
	<div id="container">
		<%=yield(:sidebar)%>
		<div id="main_content" class="<%=yield(:sidebar) ? 'with_side_bar' : ''%>">
			<%=yield %>
		</div>
		<br id="end_break" />
	</div>
	<div id="container_cap">&nbsp;</div>
        <%= render :partial => 'layouts/footer' %>
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-9421656-1");
        pageTracker._trackPageview();
      } catch(err) {}
  </script>  
</body>
</html>
