<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Shawarma: <%=yield :title%></title>
  <%=stylesheet_link_tag "styles" %>
  <%=javascript_include_tag :defaults %>
</head>
<body xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <div id="title">
			<% if logged_in? && current_organization then %>
				<div class="logged_in">
					Welcome, <%=current_organization.name%> -
					<%=link_to "Log Out", session_path, :method => :delete%>
				</div>
			<% end %>
      <img src="/images/title.gif" />
  </div>
  <div id="bar" class=<%=yield :highlighted_tab %>>
      <ul>
          <li id="surveys"><%=link_to "Surveys", surveys_path %></li>
          <li id="networks"><%=link_to "Networks", networks_path %></li>
          <li id="members"><%=link_to "Members", organizations_path %></li>
          <li id="account"><%=link_to "Account", account_path%></li>
      </ul>
  </div>
  <div id="main">
    <%=yield %>
	</div>
</body>
</html>
