<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>CompSage: <%=yield :title%></title>
  <%=stylesheet_link_merged :base, :media => :screen %>
  <%=stylesheet_link_merged :printer, :media => :print %>
  <%=javascript_include_merged :base %>
	<script type="text/javascript">
    document.observe("dom:loaded", function() {      
  		<%=yield(:initialize_js)%>
    });	
	</script>
</head>
<body>
	<div id="header">
		<a href="/"><img src="/images/shawarma.gif" alt="CompSage"/></a>
		<div id="account_settings">
			<% if logged_in? && current_organization then %>
				<%=link_to "Account Settings", edit_account_path%>
				<%=link_to "Log Out", session_path, :method => :delete, :name => 'Log Out'%>
			<% end %>
		</div>
		<ul id="nav" class="<%=yield :highlighted_tab %>_nav">
			<li id="surveys_nav"><%=link_to "Surveys &amp; Results", surveys_path%></li>
			<li id="networks_nav"><%=link_to "Networks &amp; Contacts", networks_path%></li>
		</ul>
	</div>
	<div id="container">
		<%=yield(:sidebar)%>
		<div id="main_content" class="<%=yield(:sidebar) ? 'with_side_bar' : ''%>">
			<%=yield %>
		</div>
		<br id="end_break" />
	</div>
	<div id="container_cap">&nbsp;</div>

        <%= render :partial => 'layouts/footer' %>
</body>
</html>
