<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<title>Shawarma: <%=yield :title%></title>
  <%=stylesheet_link_tag "styles" %>
  <%=javascript_include_tag :defaults %>
</head>
<body xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <div id="title">
			<% if invited_to_survey? && current_survey_invitation then %>
				<div class="logged_in">
					Welcome, <%=current_survey_invitation.name%> -
					<%=link_to "Create an Account", new_account_path %>
				</div>
			<% end %>
      <img src="/images/title.gif" />
  </div>
  <div id="bar" class=<%=yield :highlighted_tab %>>
      <ul>
          <li id="home"><a href="">Home</a></li>
          <li id="survey"><%=link_to "Survey", survey_path(current_survey_invitation.survey) %></li>
          <li id="about"><a href="">About</a></li>
          <li id="legal"><a href="">Legal</a></li>
          <li id="join"><%=link_to "Join", new_account_path %></li>
      </ul>
  </div>
  <div id="main">
    <%=yield %>
	</div>
</body>
</html>
