<%=flash_messages%>
<%=error_messages_for :organization%>
<% form_for @organization, :url => account_path, :html => {:multipart => true} do |f| %>
  <% if @organization.new_record? %>
   <%= hidden_field_tag 'key', external_invitation.key %>
  <% end %>
  <% unless @organization.new_record? %>
    <%=f.label :name, 'Name of Your Organization' %>
    <%=f.text_field :name %>
  <% end %>
  <%=f.label :contact_name, 'Your Name' %>  
  <%=f.text_field :contact_name %>
  <%=f.label :email %> 
  <%=f.text_field :email %>
  <%=f.label :location, 'Name of Office or Branch' %> 
  <%=f.text_field :location %>
  <%=f.label :city %> 
  <%=f.text_field :city %>
  <%=f.label :state %> 
  <%= f.select :state, Organization::STATE_ABBR, 
		:include_blank => true %>
  <%=f.label :zip_code %> 
  <%=f.text_field :zip_code %>
  <%=f.label :industry %> 
  <%=f.select :industry, Organization::INDUSTRIES, :include_blank => true %>
  <% if !@organization.logo.nil? then %>
    <p><%=image_tag @organization.logo.public_filename(:standard_thumbnail) %></p>
  <% end %>  
  <% fields_for "organization[logo]",@organization.logo do |logo_form| %>
      <%=logo_form.label :uploaded_data, 'Logo'%>
      <%=logo_form.file_field :uploaded_data%>
  <% end %>  		    
  <%=f.label :password %> 
  <%=f.password_field :password %>
  <%=f.label :password_confirmation %> 
  <%=f.password_field :password_confirmation %>
  <div class="submit">
    <input type="submit" value='<%=@organization.new_record? ? "Create" : "Update"%>' /> or
    <% if @organization.new_record? && logged_in_from_survey_invitation? then %>
      <%=link_to "Cancel", survey_path(current_survey_invitation.survey.id) %>
    <% elsif @organization.new_record? %>
      <%=link_to "Cancel", new_session_path %>
    <% else %>
      <%=link_to "Cancel", account_path %>
    <% end %>
  </div>
<% end %>
