<%=flash_messages%>
<%=error_messages_for :organization, :header_message => "We were not able to save your account."%>
<% form_for @organization, :url => account_path, :html => {:multipart => true} do |f| %>
  <% if @organization.new_record? %>
   <%= hidden_field_tag 'key', external_invitation.key %>
  <% end %>
  <%=f.label :name, 'Name of Your Organization' %>
  <%=f.text_field :name %>
  <%=f.label :contact_name, 'Your Name' %>  
  <%=f.text_field :contact_name %>
  <%=f.label :email %> 
  <%=f.text_field :email %>
  <%=f.label :location, 'Name of Office or Branch' %> 
  <%=f.text_field :location %>
  <%=f.label :city %> 
  <%=f.text_field :city %>
  <%=f.label :state %> 
  <%= f.select :state, ['AK',
		'AL',
		'AR',
		'AZ',
		'CA',
		'CO',
		'CT',
		'DC',
		'DE',
		'FL',
		'GA',
		'HI',
		'IA',
		'ID',
		'IL',
		'IN',
		'KS',
		'KY',
		'LA',
		'MA',
		'MD',
		'ME',
		'MI',
		'MN',
		'MO',
		'MS',
		'MT',
		'NC',
		'ND',
		'NE',
		'NH',
		'NJ',
		'NM',
		'NV',
		'NY',
		'OH',
		'OK',
		'OR',
		'PA',
		'RI',
		'SC',
		'SD',
		'TN',
		'TX',
		'UT',
		'VA',
		'VT',
		'WA',
		'WI',
		'WV',
		'WY'], 
		:include_blank => true %>
  <%=f.label :zip_code %> 
  <%=f.text_field :zip_code %>
  <%=f.label :industry %> 
  <%=f.select :industry, ['Advertising',
    'Aerospace & Defense',
    'Agribusiness',
    'Airlines',
    'Alcoholic Beverages & Tobacco',
    'Apparel & Footwear',
    'Autos & Auto Parts',
    'Banking',
    'Biotechnology',
    'Broadcasting & Cable',
    'Cable TV',
    'Chemicals: Basic',
    'Chemicals: Specialty',
    'Coal Mining',
    'Computers: Hardware',
    'Computers: Networking',
    'Computers: Software',
    'Educationial Services',
    'Environmental & Waste Management',
    'Financial Services: Diversified',
    'Foods & Nonalcoholic Beverages',
    'Healthcare: Facilities',
    'Healthcare: Managed Care',
    'Healthcare: Pharmaceuticals',
    'Healthcare: Products & Supplies',
    'Homebuilding',
    'Household Durables',
    'Household Nondurables',
    'Industrial and Analytical Instruments',
    'Insurance',
    'Investment Services',
    'Lodging & Gaming',
    'Machinery',
    'Metals: Industrial',
    'Movies & Home Entertainment',
    'Natural Gas Distribution',
    'Packaging & Containers',
    'Paper & Forest Products',
    'Publishing',
    'Recreation',
    'Restaurants',
    'Retailing: General',
    'Retailing: Specialty',
    'Savings & Loans',
    'Securities, Mutual Funds, and Commodity Futures Trading',
    'Semiconductors',
    'Shipbuilding & Repair',
    'Supermarkets & Drugstores',
    'Telecommunications: Wireless',
    'Telecommunications: Wireline',
    'Textile',
    'Transportation: Commercial',
    'Travel & Tourism',
    'Wholesaling',
    'Wood Products'], 
		:include_blank => true %>
  <% if !@organization.logo.nil? then %>
    <p><%=image_tag @organization.logo.public_filename(:standard_thumbnail) %></p>
  <% end %>
  <%=f.label :logo %> 
  <%= file_field 'logo','uploaded_data' %>
  <%=f.label :password %> 
  <%=f.password_field :password %>
  <%=f.label :password_confirmation %> 
  <%=f.password_field :password_confirmation %>
  <p>
    <input type="submit" value='<%=@organization.new_record? ? "Create" : "Update"%>' /> 
    <% if @organization.new_record? && logged_in_from_survey_invitation? then %>
      <%=link_to "Cancel", survey_path(current_survey_invitation.survey.id) %>
    <% elsif @organization.new_record? %>
      <%=link_to "Cancel", new_session_path %>
    <% else %>
      <%=link_to "Cancel", account_path %>
    <% end %>
  </p>
<% end %>
