<% form_for @organization, :url => account_path, :html => {:multipart => true} do |f| %>
  <%=error_messages_for :organization%>
  <% if @organization.new_record? %>
   <%= hidden_field_tag 'key', external_invitation.key %>
 <% end %>
  <% if @organization.new_record? %>
    <%=f.label :name, required('Name of your organization') %>
    <%=f.text_field :name %>
  <% end %>
  <%=f.label :contact_name, 'Your name' %>
  <%=f.text_field :contact_name %>
  <%=f.label :email, required('Email address') %> 
  <%=f.text_field :email %>
  <%=f.label :location, 'Name of office or branch' %> 
  <%=f.text_field :location %>
  <% form_row do %>
    <% form_box do %>
      <%=f.label :city %> 
      <%=f.text_field :city, :size => 13 %>
    <% end %>
    <% form_box do %>
      <%= f.label :state %> 
      <%= f.select :state, AccountsHelper::STATE_ABBR, :include_blank => true %>
    <% end %>
    <% form_box do %>
      <%=f.label :zip_code, required('Zip') %> 
      <%=f.text_field :zip_code, :size => 7 %>
    <% end %>
  <% end %>
  <%=f.label :industry %> 
  <%=f.select :industry, AccountsHelper::INDUSTRIES, :include_blank => true %>
  <% form_row do %>  
    <% if !@organization.logo.nil? then %>
      <% form_box do %>  
        <p class="thumbnail"><%=image_tag @organization.logo.public_filename(:standard_thumbnail) %></p>
      <% end %>    
    <% end %>  
    <% form_box do %>  
      <% fields_for "organization[logo]",@organization.logo do |logo_form| %>
          <%=logo_form.label :uploaded_data, 'Company logo'%>
          <%=logo_form.file_field :uploaded_data%>
      <% end %>  
    <% end %>
  <% end %>    
  <% form_row do %>
    <% form_box do %>
      <%=f.label :password, required('Password') %> 
      <%=f.password_field :password, :size => 15 %>
    <% end %>
    <% form_box do %>
      <%=f.label :password_confirmation, 'Confirm password' %> 
      <%=f.password_field :password_confirmation, :size => 15 %>
    <% end %>
  <% end %>  
  <div class="submit">
    <input type="submit" value='<%=@organization.new_record? ? "Sign Up" : "Update"%>' /> or
    <% if @organization.new_record? && logged_in_from_survey_invitation? then %>
      <%=link_to "Cancel", survey_path(current_survey_invitation.survey.id) %>
    <% elsif @organization.new_record? %>
      <%=link_to "Cancel", new_session_path %>
    <% else %>
      <%=link_to "Cancel", account_path %>
    <% end %>
  </div>
<% end %>
