<div style="display:none;">Need this div for flash notices in IE6</div>
<%=flash_messages%>
<% title "Reset your password" %>
<h2>Reset your password</h2>
<p>Enter a new password below. It will take effect immediately.</p>
<% form_for @organization, :url => reset_account_path(:key =>  @organization.reset_password_key) do |f| %>
  <%=error_messages_for :organization%>
  <%=f.label :password %> 
  <%=f.password_field :password, :size => 20, :autocomplete => "off" %>
  <%=f.label :password_confirmation %> 
  <%=f.password_field :password_confirmation, :size => 20 %>
  <div class="submit">
    <%= submit_tag 'Reset My Password' %>
  </div>
<% end %>
